<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" metadata-complete="true"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

  <!--If define the Portlet Application name MUST end with .par-->
  <display-name>samplePortlets</display-name>

  <description>
    This application is a portlet. It can not be used outside a portal.
    This web.xml file is mandatory in each .par archive file.
  </description>


  <filter>
    <filter-name>ResourceRequestFilter</filter-name>
    <filter-class>org.exoplatform.portal.application.ResourceRequestFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>ResourceRequestFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <servlet>
    <servlet-name>GateInServlet</servlet-name>
    <servlet-class>org.gatein.wci.api.GateInServlet</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>GateInServlet</servlet-name>
    <url-pattern>/gateinservlet</url-pattern>
  </servlet-mapping>

  <security-role>
    <description>a simple user role</description>
    <role-name>user</role-name>
  </security-role>

  <security-role>
    <description>the admin role</description>
    <role-name>admin</role-name>
  </security-role>
</web-app>
