/*@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/UIPortalApplicationSkin.css); */
@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/view/Stylesheet.css);

/*@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/customization/Stylesheet.css);*/
@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/customization/UIContainerList/Stylesheet.css);

@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/customization/UIPageBrowser/Stylesheet.css);

@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/customization/UIPageSelector/Stylesheet.css);

@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/customization/UIPortalToolPanel/Stylesheet.css);

@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/customization/UIDescription/Stylesheet.css);

@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/customization/UIChangeSkinForm/Stylesheet.css);

@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/customization/UIChangeLanguageForm/Stylesheet.css);
/*@import url(/eXoResources/skin/DefaultSkin/portal/webui/component/customization/UIAccountSettingForm/Stylesheet.css); */

/*Import the Stylesheets from the DefaultSkin*/
/*@import url(/eXoResources/skin/DefaultSkin/webui/component/Stylesheet.css); */
@import url(/eXoResources/skin/PortletThemes/Stylesheet.css);

@import url(/eXoResources/skin/Portlet/Stylesheet.css);

@import url(/eXoResources/skin/DefaultSkin/webui/component/Stylesheet.css);

/*Overwritten WebUI Components*/
@import url(ResponsiveSkin/portal/webui/component/UIPortal/UIPortalApplicationSkin.css);

@import url(ResponsiveSkin/portal/webui/component/UIPortal/UIPortalComponents.css);

@import url(ResponsiveSkin/portal/webui/component/UIWorkspace/UIWorkspace.css);

@import url(ResponsiveSkin/portal/webui/component/UIToolbar/UIToolbar.css);

@import url(ResponsiveSkin/portal/webui/component/UILoginForm/UILoginForm.css);

@import url(ResponsiveSkin/portal/webui/component/UICategoryForm/UICategoryForm.css);

@import url(ResponsiveSkin/portal/webui/component/UIChangeLanguageForm/UIChangeLanguageForm.css);

@import url(ResponsiveSkin/portal/webui/component/UIMaskWorkspace/UIMaskWorkspace.css);

@import url(ResponsiveSkin/portal/webui/component/UIForms/UIForms.css);

@import url(ResponsiveSkin/portal/webui/component/UIAction/UIAction.css);

@import url(ResponsiveSkin/portal/webui/component/UIFormTabPane/UIFormTabPane.css);

@import url(ResponsiveSkin/portal/webui/component/UIFormWithTitle/UIFormWithTitle.css);

@import url(ResponsiveSkin/portal/webui/component/UITab/UITab.css);

@import url(ResponsiveSkin/portal/webui/component/UIDashboard/UIDashboard.css);

@import url(ResponsiveSkin/portal/webui/component/UIPopupWindow/UIPopupWindow.css);

@import url(ResponsiveSkin/portal/webui/component/UIBreadCrumbs/UIBreadCrumbs.css);

@import url(ResponsiveSkin/portal/webui/component/UIBannerPortlet/UIBannerPortlet.css);

@import url(ResponsiveSkin/portal/webui/component/UIPageBrowser/UIPageBrowser.css);

@import url(ResponsiveSkin/portal/webui/component/EditInline/EditInline.css);

@import url(ResponsiveSkin/portlet/webui/UIPageManagementPortlet/UIPageManagementPortlet.css);

@import url(ResponsiveSkin/portlet/redirect-admin/RedirectAdmin.css);

@import url(ResponsiveSkin/portlet/wsrp/WSRP.css);

@import url(Portlet/Stylesheet.css);

/* User Customizations to the Responsive Skin */
@import url(ResponsiveSkin/custom/Stylesheet.css);
