.UILogin .UIForm {
    padding-top: 1em;
}

.UILogin .UIFormGrid {
    width: 80%;
}

.UILogin .UIForgetPasswordWizard .UIFormGrid {
width: 90%
}

.UILogin .FieldComponent.portlet-input-field input[type="text"]{
width: 90%;
}

.UILogin .SigninTitle {
    font-family: Ubuntu, sans-serif;
    font-size: 1.5em;
    padding-top: 0.625em;
    padding-left: 0.625em;
    padding-bottom: 0.41666666666667em;
    border-bottom: 1px solid #eee;
    display: block;
}

.UILogin td.FieldLabel {
    font-size: 0.875em;
    text-align: right;
    line-height: 1.25em;
    padding-top: 0.28571428571429em;
    padding-right: 0.71428571428571em;
    padding-bottom: 0.9375em;
    padding-left: 0.93333333333333em;
}

.UILogin input.UserName,
.UILogin input.Password,
.UILogin input[type="text"] {
    border: 1px solid #ccc;
    width: 100%;
    height: 1.4285714285714em;
    line-height: 2.2058823529412em;
    font-size: 0.875em;
    border-radius: 4px;
    color: #555555;
    padding: 4px 6px;
    vertical-align: middle;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 0.6875em;
}

.UILogin input.UserName:focus,
.UILogin input.Password:focus,
.UILogin input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}


.UILogin .RememberField td:nth-child(2),
.UILogin .ForgetPass a {
    font-size: 0.8125em;
    color: #999;
}


.UILogin .ForgetPass {
text-align: center;
padding-top: 1.5em;
}


@media screen and (max-width: 25em) {

.UILogin .UIFormGrid .UserNameField, .UILogin .UIFormGrid .PasswordField {
display: block;
}

.UILogin td.FieldLabel {
padding-left: 1.5em;
}

.UILogin .UIFormGrid {
    width: 100%;
}

.UILogin .UserNameField td.FieldLabel,
.UILogin  #UIPortalLoginFormControl td.FieldLabel {
display: block;
padding-left: 1.5em;
}

.UILogin .UIFormGrid,
.UILogin .UIFormGrid tbody,
.UILogin .UIFormGrid tr,
.UILogin .UIFormGrid td 
{
    display: block;
    text-align: left;
}

.UILogin .UIForm td:nth-child(2)
{
    text-align: center;
}

.UILogin input.UserName,
.UILogin input.Password {

width: 80%;
margin-right: auto;
margin-left: auto;
}


.UILogin tr.RememberField {
padding: 1em 0;
}

.UILogin .RememberField td {
display: inline;
text-align: center;
}

.UILogin .RememberField td.FieldLabel {
position: static;
}

.UILogin .RememberField td:nth-child(2) {
padding-left:0;
padding-right:0;
}

.UILogin .ForgetPass {
margin:0;
text-align:left;
padding-left:1.5em;
padding-top:0;
}

.UILogin .ForgetPass a {
font-size: 0.75em;
margin: 0;
}

}

