.UILogin .UIForm {
    padding-top: 1em;
}

.UILogin .UIFormGrid {
    width: 80%;
}

.UILogin .UIForgetPasswordWizard .UIFormGrid {
    width: 90%
}

.UILogin .FieldComponent.portlet-input-field input[type="text"] {
    width: 90%;
}

.UILogin .SigninTitle {
    font-family: Ubuntu, sans-serif;
    font-size: 1.5em;
    padding-top: 0.625em;
    padding-left: 0.625em;
    padding-bottom: 0.41666666666667em;
    border-bottom: 1px solid #eee;
    display: block;
}

.UILogin .UILoginForm td.FieldLabel {
    font-size: 0.875em;
    text-align: right;
    line-height: 1.25em;
    padding: 0.28571428571429em 0.71428571428571em 0.9375em 0.93333333333333em;
}

.UILogin input.UserName,.UILogin input.Password,.UILogin input[type="text"] {
    border: 1px solid #ccc;
    width: 100%;
    height: 1.4285714285714em;
    line-height: 1.4285714285714em;
    font-size: 0.875em;
    border-radius: 4px;
    color: #555555;
    padding: 4px 6px;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0.6875em;
}

.UILogin input.UserName:focus,.UILogin input.Password:focus,.UILogin input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}

.UILogin .RememberField td:nth-child(2),.UILogin .ForgetPass a {
    font-size: 0.8125em;
    color: #999;
}

.UILogin .ForgetPass {
    text-align: center;
    padding-top: 1.5em;
}

.UILogin .UIForm .UIAction .ActionButton {
    display: inline;
}

.UILoginForm div.SocialLoginButtons {
    text-align: center;
}

.UILoginForm a.login-button {
    border-radius: .3125em;
    border: .0625em solid #8f301f;
    display: inline-block;
    line-height: 1.1875em;
    background-color: #d54529;
    margin: .625em .3125em .3125em .3125em;
    position: relative;
}

.UILoginForm a.login-button:hover {
    background-color: #e55539;
    text-decoration: none;
}

.UILoginForm a.login-button > div {
    color: white;
    font-size: 0.85em;
    padding: 0.146em 0.66em 0.146em 2.7em;
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/generic.png") .5882em no-repeat;
    border-radius: 0.3125em;
    border-top: 0.075em solid;
}

.UILoginForm a.login-button > div:before{
    border-left:0.075em solid black;
    border-right:0.075em solid white;
    content: "separator";
    position: absolute;
    left: 2.1em;
    text-indent: -9999px;
}

.UILoginForm #login-GOOGLE {
    background-color: #df4a32;
    border-color:#d1412a;
}

.UILoginForm #login-GOOGLE:hover {
    background-color: #e75240;
}

.UILoginForm #login-GOOGLE > div {
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/google.png") 8px no-repeat;
    border-color: #e56e5b;
}

.UILoginForm #login-GOOGLE > div:before {
    border-left-color:#c8422d;
    border-right-color:#e46551;
}

.UILoginForm #login-FACEBOOK {
    background-color: #355192;
    border-color:#2d4887;
}

.UILoginForm #login-FACEBOOK:hover {
    background-color: #3d599a;
}

.UILoginForm #login-FACEBOOK > div {
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/facebook.png") 8px no-repeat;
    border-color: #536BA2;
}

.UILoginForm #login-FACEBOOK > div:before {
    border-left-color:#2a4175;
    border-right-color:#4a639d;
}

.UILoginForm #login-TWITTER {
    background-color: #3cbbeb;
    border-color:#32afde;
}

.UILoginForm #login-TWITTER:hover {
    background: #44c3f3;
}

.UILoginForm #login-TWITTER > div {
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/twitter.png") 8px no-repeat;
    border-color: #63c9ef;
}

.UILoginForm #login-TWITTER > div:before {
    border-left-color:#36a8d3;
    border-right-color:#59c5ee;
}

.UILoginForm .LoginDelimiter {
    text-align: center;
}

.UILoginForm .LoginDelimiter:before, .UILoginForm .LoginDelimiter:after {
    border-bottom: .07142em solid #E9E9E9;
    display: inline-block;
    content: "";
    margin: .25em .87em;
    width: 20%;
}

@media screen and (max-width: 25em) {
    .UILogin .UIFormGrid .UserNameField,.UILogin .UIFormGrid .PasswordField {
        display: block;
    }
    .UILogin td.FieldLabel {
        padding-left: 1.5em;
    }
    .UILogin .UIFormGrid {
        width: 100%;
    }
    .UILogin .UserNameField td.FieldLabel,.UILogin  #UIPortalLoginFormControl td.FieldLabel {
        display: block;
        padding-left: 1.5em;
        text-align:left;
    }
    .UILogin .UIFormGrid,.UILogin .UIFormGrid tbody,.UILogin .UIFormGrid tr,.UILogin .UIFormGrid td {
        display: block;
        text-align: left;
    }
    
    .UIForm .UIFormGrid td.FieldLabel {
          text-align: left;
    }

    .UILogin .UIForm td:nth-child(2) {
        padding: 0;
        text-align: center;
    }
    .UILogin input.UserName,.UILogin input.Password {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    .UILogin tr.RememberField {
        padding: 1em 0;
    }
    .UILogin .RememberField td {
        display: inline;
        text-align: center;
    }
    .UILogin .RememberField td.FieldLabel {
        position: static;
    }
    .UILogin .RememberField td:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
    }
    .UILogin .ForgetPass {
        margin: 0;
        text-align: left;
        padding-left: 1.5em;
        padding-top: 0;
    }
    .UILogin .ForgetPass a {
        font-size: 0.75em;
        margin: 0;
    }
    .UILogin .UIForm .UIAction .ActionButton {
        width: 90%;
        display: block;
    }
    .UILoginForm a.login-button {
        display: block;
    }

    .UILoginForm .LoginDelimiter:before, .UILoginForm .LoginDelimiter:after {
        display: none;
    }
}

