.editing .row-fluid {
    border: 1px dashed #A2A2A2;
    padding: 10px;
}

.editing .portlet {
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    padding: 5px;
}

.editing .emptyContainer {
	border: 1px dashed #A2A2A2;
}

.portlet + .portlet {
    margin-top: 10px;
}

.portlet-placeholder {
   height: 6.5em;
   line-height: 1.2em;
   background: #FAFAFA;
   border-radius: 4px;
   margin: 5px;
}

.row-fluid .sortable {
	min-height: 100px;
}

.composers {
	border: solid 1px red;
	border-radius: 4px;
}
.composers ul, .composers ul li {
	list-style: none;
}
.composers ul li {
	float: left;
	margin-left: 5px;
}
.composers ul li .portlet {
	border: none;
}