.LAYOUT-EDITION .row-fluid {
    border: 1px dashed #A2A2A2;    
}

.LAYOUT-EDITION .window {
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    padding: 5px;
    margin: 5px;
}

.LAYOUT-EDITION .window .content {
	position: relative;
}

.LAYOUT-EDITION .window .content .mask-layer {
	background: none repeat scroll 0 0 #000000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    opacity: 0.4;
}

.LAYOUT-EDITION .emptyContainer {
	border: 1px dashed #A2A2A2;
}

.window + .window {
    margin-top: 10px;
}

.portlet-placeholder {
   height: 6.5em;
   line-height: 1.2em;
   background: #FAFAFA;
   border-radius: 4px;
   margin: 5px;
}

.LAYOUT-EDITION .row-fluid .sortable {
	min-height: 100px;
}

.LAYOUT-EDITION .window > h3 {
	cursor: move;
}

.LAYOUT-EDITION.container .saveLayout, 
.LAYOUT-EDITION.container .cancelEditLayout, 
.LAYOUT-EDITION.container .switchLayout,
.LAYOUT-EDITION .window > h3 .close, 
.LAYOUT-EDITION .window > h3 > .icon {
	display: inline-block;
}

.LAYOUT-EDITION.container .layoutComposer {
	display: block;
} 

.LAYOUT-EDITION.container .editLayout {
  	display: none;
}

.container .editLayout {
	display: inline-block;
}

.container .saveLayout, .container .cancelEditLayout, .container .layoutComposer, 
.container .switchLayout, .window > h3 > .icon, .window > h3 .close {
	display: none;
}

#composers {
	margin: -30px 0 20px;
}
#composers .panel{
	border: solid 1px #ccc;
	border-radius: 4px;
}
#composers .panel a{
	color: #666;
	padding-left: 7px;
	text-decoration: none;
}
#composers .panel a:hover {
	color: #333;
}
#composers .panel a.collapsed + .composer-filter{
    display: none;
}
#composers .panel .composer-filter {
    float: right;
    margin-top: -5px;
    margin-right: 5px;
    padding-right: 20px;
}
#composers .panel input.loading {
    background: transparent url('images/loading.gif') right center no-repeat;
}
#composers .panel .composer-filter:after {
    clear: both;
}
#composers .panel-body .composer-tooltip {
	font-style: italic;
	font-size: 12px;
    padding-left: 5px;
}
#composers .in {
	border-top: solid 1px #ccc;
	overflow: visible;
}
#composers ul, .composers ul li, .sortable li {
	list-style: none;
    margin-bottom: 0px;
}
#composers ul.nav li:first-child {
    margin-left: 2px;
}
#composers ul li.content {
	float: left;
	margin-left: 30px;
}
#composers ul li .draggable {
    text-align: center;
    float: left;
}
