.LAYOUT-EDITION .row-fluid {
    border: 1px dashed #A2A2A2;    
}

.LAYOUT-EDITION .window {
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    padding: 5px;
    margin: 5px;
}

.LAYOUT-EDITION .window .content {
	position: relative;
}

.LAYOUT-EDITION .window .content .mask-layer {
	background: none repeat scroll 0 0 #000000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    opacity: 0.4;
}

.LAYOUT-EDITION .emptyContainer {
	border: 1px dashed #A2A2A2;
}

.window + .window {
    margin-top: 10px;
}

.portlet-placeholder {
   height: 6.5em;
   line-height: 1.2em;
   background: #FAFAFA;
   border-radius: 4px;
   margin: 5px;
}

.LAYOUT-EDITION .row-fluid .sortable {
	min-height: 100px;
}

.LAYOUT-EDITION .window > h3 {
	cursor: move;
}

.LAYOUT-EDITION.container .pageProperties,
.LAYOUT-EDITION.container .saveLayout, 
.LAYOUT-EDITION.container .cancelEditLayout, 
.LAYOUT-EDITION.container .switchLayout,
.LAYOUT-EDITION .window > h3 .close, 
.LAYOUT-EDITION .window > h3 > .icon {
	display: inline-block;
}

.LAYOUT-EDITION.container .layoutComposer {
	display: block;
} 

.LAYOUT-EDITION.container .editLayout,
.LAYOUT-EDITION.container .newPage {
  	display: none;
}

.container .editLayout {
	display: inline-block;
}

.container .pageProperties, .container .saveLayout, .container .cancelEditLayout, .container .layoutComposer, 
.container .switchLayout, .window > h3 > .icon, .window > h3 .close {
	display: none;
}

.composers {
    border: solid 1px #ddd;
    border-radius: 4px;
    padding-top: 5px;
    margin: -15px 0 20px;
    z-index: 10;
}
.composers .accordion {
    margin-bottom: 0;
}
.composers .accordion .in {
    overflow: visible;
}
.composers .accordion a.accordion-toggle {
    text-transform: capitalize;
}
.composers .accordion .accordion-inner {
    padding-bottom: 0;
}
.composers .accordion .accordion-inner ul.inline {
    margin-bottom: 0;
}
.composers .nav-tabs {
    margin-bottom: 0;
}
.composers .nav-tabs-close {
    border-bottom: none;
}
.composers ul.nav-tabs > li:first-child {
    margin-left: 5px;
}
.composers .tab-content {
    overflow: visible;
}
.composers .tab-content > .active {
    padding: 11px;
}
.composers li.ui-sortable-helper {
    list-style: none;
}
li.portlet-placeholder {
   list-style: none;
}

.composers input.composer-filter {
    padding-right: 20px;
}
.composers input.loading {
    background: transparent url('images/loading.gif') right center no-repeat;
}
.composers .composer-controll {
    padding-right: 5px;
}

.composers ul.composer-layouts-list label {
    display: inline-block;
    padding-left: 5px;
}
.composers ul.composer-layouts-list input[type="radio"] {
    margin: 0;
}