.LAYOUT-EDITION .row-fluid {
    border: 1px dashed #A2A2A2;    
}

.LAYOUT-EDITION .window {
    border: 1px solid #AAAAAA;
    border-radius: 4px 4px 4px 4px;
    padding: 5px;
    margin: 5px;
}

.LAYOUT-EDITION .window .content {
	position: relative;
}

.LAYOUT-EDITION .window .content .mask-layer {
	background: none repeat scroll 0 0 #000000;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
    opacity: 0.4;
}

.LAYOUT-EDITION .emptyContainer {
	border: 1px dashed #A2A2A2;
}

.window + .window {
    margin-top: 10px;
}

.portlet-placeholder {
   height: 6.5em;
   line-height: 1.2em;
   background: #FAFAFA;
   border-radius: 4px;
   margin: 5px;
}

.LAYOUT-EDITION .row-fluid .sortable {
	min-height: 100px;
}

.LAYOUT-EDITION .window > h3 {
	cursor: move;
}

.LAYOUT-EDITION.container .pageProperties,
.LAYOUT-EDITION.container .saveLayout, 
.LAYOUT-EDITION.container .cancelEditLayout, 
.LAYOUT-EDITION.container .switchLayout,
.LAYOUT-EDITION .window > h3 .close, 
.LAYOUT-EDITION .window > h3 > .icon {
	display: inline-block;
}

.LAYOUT-EDITION.container .layoutComposer {
	display: block;
} 

.LAYOUT-EDITION.container .editLayout,
.LAYOUT-EDITION.container .newPage {
  	display: none;
}

.container .editLayout {
	display: inline-block;
}

.container .pageProperties, .container .saveLayout, .container .cancelEditLayout, .container .layoutComposer, 
.container .switchLayout, .window > h3 > .icon, .window > h3 .close {
	display: none;
}

.composers {
    /*border: solid 1px #ddd;*/
    border: solid 1px #08c;
    background-color: #08c;
    border-radius: 4px;
    padding-top: 5px;
    margin: -15px 0 20px;
    z-index: 10;
}
.composers .close {
    color: #fff;
    opacity: 0.9;
}
.composers .accordion {
    margin-bottom: 0;
}
.composers .accordion .in {
    overflow: visible;
}
.composers .accordion a.accordion-toggle {
    text-transform: capitalize;
}
.composers .accordion .accordion-inner {
    padding-bottom: 0;
}
.composers .accordion .accordion-inner ul.inline {
    margin-bottom: 0;
}
.composers .nav-tabs {
    margin-bottom: 0;
}
.composers .nav-tabs-close {
    border-bottom: none;
}
.composers ul.nav-tabs > li:first-child {
    margin-left: 5px;
}
.composers ul.nav-tabs > li > a {
    color: #fff;
    border: none;
}
.composers ul.nav-tabs > li.active > a {
    color: #08c;
}
.composers ul.nav-tabs > li.active > a:hover {
    cursor: default;
    background-color: #fff;
    color: #08c;
    border: none;
    margin-top: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.composers ul.nav-tabs > li > a:hover {
    background-color: #006687;
    margin-top: -1px;
    padding-top: 9px;
    padding-bottom: 7px;
}

.composers .tab-content {
    overflow: visible;
    background-color: #fff;
    border-radius: 0 0 4px 4px;
}
.composers .tab-content > .active {
    padding: 11px;
}
.composers li.ui-sortable-helper {
    list-style: none;
}
li.portlet-placeholder {
   list-style: none;
}

.composers input.composer-filter {
    padding-right: 20px;
}
.composers input.loading {
    background: transparent url('images/loading.gif') right center no-repeat;
}
.composers .composer-controll {
    padding-right: 5px;
}

.composers ul.composer-layouts-list label {
    display: inline-block;
    margin-bottom: 0;
}
.composers ul.composer-layouts-list input[type="radio"] {
    margin: 0;
}

#pagePropertiesModal .modal-header {
    border-bottom: none;
}
#pagePropertiesModal .modal-tab ul.nav-tabs li:first-child {
    margin-left: 15px;
}
.modal-permissions {
    padding: 0 10px;
}
ul.list-permissions li {
    background: #468847;
    border-radius: 3px;
    color: #fff;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 21px;
    margin: 2px 3px 2px 2px;
    padding: 1px 4px 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    vertical-align: baseline;
    cursor: pointer;
}

ul.list-permissions li:after {
    content: " ×";
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 16px;
    opacity: 0.2;
    position: relative;
    text-shadow: 0 1px 0 #FFFFFF;
    top: 1px;
}
#pagepermissions .row-permissions {
    border: none;
    margin-left: 10px;
}