<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/exo.portal.selenium.snifftests/src/main/java/org/exoplatform/portal/selenium/SeleniumTestCaseGenerator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.debug.ui.CONSIDER_INHERITED_MAIN" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.exoplatform.portal.selenium.SeleniumTestCaseGenerator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="src/suite target/generated/test"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="exo.portal.selenium.snifftests"/>
</launchConfiguration>
