<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2011, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.0" name="org.gatein.lib">
    <resources>
        <!-- Insert resources here -->
    </resources>
    <dependencies>

        <module name="system" export="true">
          <imports>
              <exclude-set>
                  <path name="javax/xml/bind"/>
                  <path name="javax/xml/bind/annotation"/>
              </exclude-set>
          </imports>
        </module>

       <!-- picketlink idm dependencies -->
       <module name="com.sun.xml.bind" services="export" export="true" />
       <module name="javax.xml.bind.api" />
       <module name="org.dom4j" />

       <!--module name="sun.jdk" /-->
       <!-- TODO try maybe: module name="javax.xml.jaxp-provider" /-->
       <module name="sun.jdk.xml" />
       <module name="javax.api"/>
       <module name="javax.jcr.api" />
       <module name="javax.portlet.api" export="true"/>
       <module name="javax.servlet.api" />
       <module name="javax.servlet.jsp.api" />
       <module name="javax.ws.rs.api" />
       <module name="org.gatein.common" />
       <module name="org.apache.commons.logging" />
       <module name="org.apache.commons.collections" />
       <module name="org.apache.httpcomponents" />
       <module name="org.apache.xerces" />
       <module name="org.gatein.naming" export="true"/>
       <module name="org.gatein.pc" />
       <module name="org.gatein.wci" export="true"/>
       <module name="org.hibernate" slot="gatein" />
       <module name="org.javassist"/>
       <module name="org.slf4j" slot="gatein" />
       <module name="org.staxnav" />

       <!-- gatein-naming.jar dependencies -->
       <module name="org.jboss.threads"/>
       <module name="org.jboss.logging"/>

       <!-- oeg.exoplatform.services dependencies -->
       <module name="org.hsqldb" />
       <module name="org.jboss.common-core" />

       <!-- oeg.exoplatform.services.rest dependencies -->
       <module name="javax.inject.api" />

       <!-- jbosscache dependencies -->
       <module name="javax.resource.api" />
       <module name="javax.transaction.api" />
       <module name="org.jboss.jts" />

       <module name="javax.annotation.api" />

    </dependencies>
</module>
