.UIPopupWindow {
    border-radius: 0.25em;
    max-width: 100%;
    max-height: 100%;
}

.PopupContent,
.PopupWindow {
    max-width: 100%;
    max-height: 100%;
}

.UIPopupWindow,
.UIPopupMessages {
    -webkit-overflow-scrolling: touch;
}

.UIPopupWindow .PopupContent {
    height: auto !important;
}

.UIPopupWindow {
    overflow: visible; /*for things like drag and drop gadget on dashboard*/
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    max-width: 100%;
}

.UIPopupWindow .PopupContent {
    overflow: visible;
}

@media screen and (max-width: 30em) {
    .UIPopupWindow {
        width: 100%;
    }
}


@media only screen and (max-height: 30em) {
    .UIPopupWindow {
        max-height: 100%;
    }
}
