@import url(/web/skin/portal/webui/component/UINavigationPortlet/DefaultStylesheet.css);

.UINavigationPortlet {
    padding: 0;
    background: transparent;
    margin-bottom: 5px;
}

.UINavigationPortlet .UINavigationBar {
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #1C4E7E;
}

.UINavigationPortlet .SelectedNavigationTab a {
    color: #1C5182;
}

.UINavigationPortlet .GroupNavigation .HighlightNavigationTab>span {
    background-color: #A2A2A2;
}