/******************************************************************************
 * JBoss by Red Hat                                                           *
 * Copyright 2010, Red Hat Middleware, LLC, and individual                    *
 * contributors as indicated by the @authors tag. See the                     *
 * copyright.txt in the distribution for a full listing of                    *
 * individual contributors.                                                   *
 *                                                                            *
 * This is free software; you can redistribute it and/or modify it            *
 * under the terms of the GNU Lesser General Public License as                *
 * published by the Free Software Foundation; either version 2.1 of           *
 * the License, or (at your option) any later version.                        *
 *                                                                            *
 * This software is distributed in the hope that it will be useful,           *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of             *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU           *
 * Lesser General Public License for more details.                            *
 *                                                                            *
 * You should have received a copy of the GNU Lesser General Public           *
 * License along with this software; if not, write to the Free                *
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA         *
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.                   *
 ******************************************************************************/

/** FONTS **/

/* Font attributes for the normal  fragment font.
Used for the display of non-accentuated information */
.portlet-font {
  color: #000000;
  font-size: 11px;
	line-height: 18px;
}

/* Font attributes similar to the portlet.font but the color is lighter */
.portlet-font-dim {
   color: #777777;
   font-size: 11px;
   line-height: 18px;
}

/** MESSAGES **/

/* Status of the current operation. */
.portlet-msg-status {
   font-size: 12px;
   font-style: normal;
   color: #336699;
   line-height: 18px;
}

/* Help messages, general additional information, etc. */
.portlet-msg-info {
   font-size: 12px;
   font-style: italic;
   color: #000;
   line-height: 18px;
}

/* Error messages. */
.portlet-msg-error {
   color: red;
   font-size: 12px;
   font-weight: bold;
   line-height: 18px;
}

/* Warning messages. */
.portlet-msg-alert {
   font-size: 12px;
   font-weight: bold;
   color: #821717;
   line-height: 18px;
}

/* Verification of the successful completion of a task. */
.portlet-msg-success {
   font-size: 12px;
   font-weight: bold;
   color: #359630;
   line-height: 18px;
}

/** SECTIONS **/

/* Table or section header */
.portlet-section-header {
   font-weight: bold;
   line-height: 18px;
}

.portlet-section-body {
   color: #333333;
   line-height: 18px;
}

.portlet-section-alternate {
   background-color: #F2F2F2;
   line-height: 18px;
}

.portlet-section-selected {
   background-color: #CBD4E6;
   line-height: 18px;
}

.portlet-section-subheader {
   font-weight: bold;
   line-height: 18px;
}

.portlet-section-footer {
   line-height: 18px;
}

/* Text that belongs to the table but does not fall in one of the other categories
(e.g. explanatory or help text that is associated with the section. */
.portlet-section-text {
   font-style: italic;
   line-height: 18px;
}

/** TABLE **/

/* Table header and footer */
.portlet-table-header, .portlet-table-footer {
   line-height: 19px;
   border: 1px solid #b7b7b7;
   background: #d2ddf1 url('/eXoResources/skin/DefaultSkin/webui/component/UIGrid/background/ThGridRepeatBg1x19.jpg') repeat-x;
   font-weight: normal;
   padding: 0px 4px;
   vertical-align: middle;
}

/* Normal text in a table cell */
.portlet-table-body {
   height: 20px;
   line-height: 20px;
   border-right: 1px solid #cccccc;
   border-left: 1px solid #cccccc;
   border-top: 1px solid white;
   padding: 4px;
   background: #f0f0f0;
}

/* Text in every other row in the table */
.portlet-table-alternate {
   background: #f5f5f5;
   line-height: 18px;
}

/* Text in a selected cell range */
.portlet-table-selected {
   color: #000;
   background-color: #CBD4E6;
   line-height: 18px;
}

/* Text of a subheading */
.portlet-table-subheader {
   font-weight: bold;
   color: #000;
   font-size: 12px;
   line-height: 18px;
}

/* Text that belongs to the table but does not fall in one of the other categories (e.g. explanatory or help text that is associated with the table). */
.portlet-table-text {
   padding: 3px 5px;
   border-bottom: 1px solid #d5d5d5;
   line-height: 18px;
}

/** FORMS **/
.portlet-form-label {
   color: #333333;
   line-height: 18px;
}

/* Text of the user-input in an input field. not sure if we need this guy? */
.portlet-form-input-field {
   color: #000000;
   font-size: 10px;
   line-height: 18px;
}

/* Form Button Style */
.portlet-form-button {
   line-height: 18px;
   text-align: center;
   background: url('/eXoResources/skin/DefaultSkin/webui/component/UIBarDecorator/UIAction/background/LightBlueStyle.gif') repeat-x center -24px;
   white-space: nowrap;
   display: table-cell;
   padding: 0 12px;
   border: 1px solid #aaa;
   border-right-color: #555;
   border-bottom-color: #555;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   margin: 1px;
}

/* Text that appears beside a context dependent action icon */
.portlet-icon-label {
	line-height: 18px;
}

/* Text that appears beside a "standard" icon (e.g Ok, or Cancel)
not sure if we need this one?.. */
.portlet-dlg-icon-label {
	line-height: 18px;
}

/* Text for form field labels */
.portlet-form-field-label {
  color: #000;
  white-space: nowrap;
  text-align: left;
  vertical-align: top;
  font-weight: bold;
	line-height: 18px;
}

/* Text for a form field */
.portlet-form-field {
	color: #000; /*margin-top: 10px;*/
 	line-height: 18px;
}

/** MENUS **/

/*General menu settings such as background color, margins, etc. */
.portlet-menu {
	line-height: 18px;
}

/* Normal, unselected menu item. */
.portlet-menu-item {
  color: #242424;
  text-decoration: none;
	background: #F5F9FA;
}

/* Selected menu item. */
.portlet-menu-item-selected {
	background: #F5F9FA;
	color: #058ee6;
}

.portlet-menu-item-hover {
	color: #058ee6;
	text-decoration: none;
	background: #F5F9FA;
}

/* Selected menu item when the mouse hovers over it. */
.portlet-menu-item-hover-selected {
	background: #F5F9FA;
	color: #058ee6;
}

/* Normal, unselected menu item that has sub-menus. */
.portlet-menu-cascade-item {
	color: #585858;
}

/* Selected sub-menu item that has sub-menus */
.portlet-menu-cascade-item-selected {
	color: #058ee6;
}

.porlet-menu-cascade {
}

.portlet-menu-cascade-item-hover {
  color: #058ee6;
}

.portlet-menu-cascade-item-hover-selected {
  color: #058ee6;
}

.portlet-menu-separator {
}

.portlet-menu-cascade-separator {
}

.portlet-menu-content {
	color: #878787;
}

.portlet-menu-content-selected {
  color: #058ee6;
}

.portlet-menu-content-hover {
  color: #058ee6;
}

.portlet-menu-content-hover-selected {
  color: #058ee6;
}

.portlet-menu-indicator {
  color: #bebebe;
}

.portlet-menu-indicator-selected {
  color: #058ee6;
}

.portlet-menu-indicator-hover {
  color: #058ee6;
}

.portlet-menu-indicator-hover-selected {
  color: #058ee6;
}

.portlet-menu-description {
}

.portlet-menu-caption {
}

