/*
 * JBoss, Home of Professional Open Source.
 * Copyright 2012, Red Hat, Inc., and individual contributors
 * as indicated by the @author tags. See the copyright.txt file in the
 * distribution for a full listing of individual contributors.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */
.UIAction {
    background-color: #F5F5F5;
    border-radius: 0 0 6px 6px;
    border-top: 1px solid #DDDDDD;
    box-shadow: 0 1px 0 #FFFFFF inset;
    margin-bottom: 0;
    padding: 0.875em 0.9375em 0.9375em;
    text-align: right;
}

.UIAction .ActionButton {
    background: none;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    font-size: 0.875em;
    line-height: 1.42857142857143em;
    text-align: center;
    vertical-align: middle;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-radius: 0.28571428571429em;
    padding: 0.28571428571429em 0.85714285714286em;
    width: auto;
}

.UIAction .ActionButton.LightBlueStyle,.UIAction .ActionButton.DarkGrayButton {
    background: inherit;
    padding: 0.25em;
}

.UIAction .ActionButton:hover {
    background-color: #014f87;
    color: #FFF;
}

.UIAction .ActionButton:hover a {
    color: #FFF;
}

.UIAction .SimpleStyle1 {
    background: none;
}
