<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2011, Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags. See the copyright.txt file in the
  ~ distribution for a full listing of individual contributors.
  ~
  ~ This is free software; you can redistribute it and/or modify it
  ~ under the terms of the GNU Lesser General Public License as
  ~ published by the Free Software Foundation; either version 2.1 of
  ~ the License, or (at your option) any later version.
  ~
  ~ This software is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
  ~ Lesser General Public License for more details.
  ~
  ~ You should have received a copy of the GNU Lesser General Public
  ~ License along with this software; if not, write to the Free
  ~ Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
  ~ 02110-1301 USA, or see the FSF site: http://www.fsf.org.
  -->

<module xmlns="urn:jboss:module:1.1" name="org.gatein.portal.container-dependencies">
  <resources>
    <!-- Insert resources here -->
  </resources>

  <dependencies>
    <module name="org.gatein.common" export="true"/>
    <module name="org.gatein.sso" export="true"/>
    <module name="org.gatein.pc" export="true"/>

    <!--
         org.gatein.pc requires Xerces on TCCL
    -->
    <module name="org.apache.xerces" services="export" export="true"/>

    <!--
         org.picketlink.idm uses JAXB which uses TCCL
         to load classes packaged locally in org.picketlink.idm
    -->
    <module name="org.picketlink.idm" export="true"/>

    <!--
         WSRP configuration is loaded via TCCL
    -->
    <module name="org.gatein.wsrp" export="true"/>
    <module name="org.gatein.wsrp.integration" export="true"/>

    <!--
         Chromattic uses ServiceLoader (TCCL) to initialize itself
    -->
    <module name="org.chromattic" services="export" export="true"/>

    <!--
         Groovy loads types referenced in .gtmpl files via TCCL
    -->
    <module name="org.json" export="true"/>

    <!--
         OAuth integration requires OAuthDelegateFilter at .war CL.
         Kernel can also load a service via TCCL - no need to add it to org.gatein.lib
    -->
    <module name="org.gatein.oauth" export="true"/>

    <!--
         ExoCacheFactory uses infinispan which uses portal classloader and serviceloader pattern to init parsers
    -->
    <module name="org.infinispan" slot="gatein" services="export"/>

    <!--
         Needed for clustering. JBoss Cache CacheMarshaller200 loads classes via TCCL
    -->
    <module name="org.apache.lucene" export="true"/>

    <system export="true">
      <paths>
        <!--
             Exoplatform DOMSerializer requires this on TCCL to properly function
        -->
        <path name="com/sun/xml/internal/stream"/>
      </paths>
    </system>
  </dependencies>
</module>
