.UIMaskWorkspace {
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    left: 50%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: -17.5em;
    position: fixed;
    max-width: 100%;
    width: 35em;
    margin-top: -11.65em;
    top: 50%;
}

.UIMaskWorkspace .MaskContainer {
    background-color: #fff;
}

/* Media Queries for Smaller Screened Devices */
@media screen and (max-width: 37.5em) { /* 600px */

    .UIMaskWorkspace {
        margin-left: -13.75em;
        width: 27.5em;
    }

}

@media screen and (max-width: 30em) { /* 480px */
    
    .UIMaskWorkspace {
        margin-left: 0;
        margin-top: -10.71875em;
        width: 100%;
        left: 0;
        border: 0;
    }
    
    .UIMaskWorkspace .MaskContainer {
        border-radius: 0;
    }
    
}

@media screen and (max-height: 25em) { /* 400px */

    .UIMaskWorkspace {
        margin-top: 0;
        position: absolute;
        top: 0em;
    }

}
