.UIMaskWorkspace {
    position: fixed !important;
    left: 0 !important; /* orientation=lt */
    right: 0 !important; /* orientation=rt */
    top: 0 !important;
    height: 100% !important;
    width: 100% !important;
    text-align: center;
    background-color: transparent;
    border: none;
    -mos-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.UIMaskWorkspace:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-left: -0.4em; /* orientation=lt */
    margin-right: -0.4em; /* orientation=rt */
    width: 0;
}

.UIMaskWorkspace .MaskContainer {
    background-color: #fff;
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    width: 35em;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 100%;
    max-width: 100%;
    text-align: right; /* orientation=rt */
    text-align: left; /* orientation=lt */
    box-shadow: 0px 0px 5px #909090;
}

.UIMaskWorkspace .UIFormWithTitle {
    width: auto;
    padding: 0;
}

.UIMaskWorkspace .UITabContent {
    height: auto;
}

@media screen and (max-width: 30em) {

    #UIWorkingWorkspace.background {
        display: none;
    }

    .UIMaskWorkspace {
        position: relative !important;
    }

    .UIMaskWorkspace .MaskContainer {
        width: 100%;
    }
}

@media screen and (max-height: 35em) {
    #UIWorkingWorkspace.background {
       display: none;
    }

    .UIMaskWorkspace {
        position: relative !important;
    }

    .UIMaskWorkspace .UITabContent {
        height: auto;
    }
}
