.UIToolbarContainer .NormalContainerBlock .ToolbarContainer {
    background: none;
    border: none;
}

.UIToolbarContainer .UIHorizontalTabs .UITab {
   font-weight: normal;
}

.UIToolbarContainer .TitleBar {
   font-size: 1em;
   font-weight: normal;
}

.UIToolbarContainer .UIHorizontalTabs .UITab {
    margin: 0;
}
 
.UIToolbarContainer .Name a {
    color: #1C4E7E;
}

/* Media Queries for Smaller Screened Devices*/
@media only screen and (max-width: 45em) {
    .UIToolbarContainer .NormalContainerBlock .ToolbarContainer .NormalToolbarTab.UITab>a,
    .UIToolbarContainer .NormalContainerBlock .ToolbarContainer .NormalToolbarTab.UITab>span {
        font-size: 0;
    }
    .UIToolbarContainer .NormalContainerBlock .ToolbarContainer .HighlightNavigationTab.UITab>a,
    .UIToolbarContainer .NormalContainerBlock .ToolbarContainer .HighlightNavigationTab.UITab>span {
        font-size: 0;
    }

    .UIToolbarContainer .UIUserInfoPortlet .Name>a,
    .UIToolbarContainer .UIUserInfoPortlet .Name>span{
        font-size: 0;
    }
}
