.UIToolbarContainer .NormalContainerBlock .ToolbarContainer {
    background: none;
    border: none;
}

.UIToolbarContainer .UIHorizontalTabs .UITab {
   font-weight: normal;
}

.UIToolbarContainer .TitleBar {
   font-size: 1em;
   font-weight: normal;
}

.UIToolbarContainer .UIHorizontalTabs .UITab {
    margin: 0;
}
 
.UIToolbarContainer .Name a {
    color: #1C4E7E;
}

.UIToolbarContainer .MenuItem a,
.UIToolbarContainer .MenuItemContainer li {
    height: auto;
    line-height: normal;
}

.UIToolbarContainer .MenuItemContainer .HorizontalSeparator {
    height: 1px;
}

.UIToolbarContainer .ToolbarContainer .MenuItem a {
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

/* Media Queries for Smaller Screened Devices*/
@media only screen and (max-width: 45em) {

    .UIToolbarContainer .MenuItem a,
    .UIToolbarContainer .MenuItemContainer li {
        white-space: normal;
    }

    .UIStarToolBarPortlet.UIHorizontalTabs,
    .UIToolbarContainer .UIUserInfoPortlet .Name,
    .UIToolbarContainer .UITab {
        max-width: 48px;
        margin: 0 auto;
    }

    .UIToolbarContainer .NormalContainerBlock .ToolbarContainer .NormalToolbarTab.UITab>a,
    .UIToolbarContainer .NormalContainerBlock .ToolbarContainer .NormalToolbarTab.UITab>span,
    .UIToolbarContainer .NormalContainerBlock .ToolbarContainer .HighlightNavigationTab.UITab>a,
    .UIToolbarContainer .NormalContainerBlock .ToolbarContainer .HighlightNavigationTab.UITab>span,
    .UIToolbarContainer .UIUserInfoPortlet .Name>a,
    .UIToolbarContainer .UIUserInfoPortlet .Name>span {
        display: block;
        width: 0;
        overflow: hidden;
        /* NOTE: for rt languages, this should really also be +10em, but certain older browsers don't handle it properly */
        text-indent: -20em; /* orientation=rt */
        text-indent: 10em; /* orientation=lt */
        white-space: nowrap;
        /* font-size: 0; NOTE: font-size:0 is all that is needed for these classes, but older android browser versions don't support it. */
    }

    .UIToolbarContainer .MenuItemContainer {
        width: 10em;
    }


    .UIToolbarContainer  .ToolbarContainer .MenuItem a {
        background-image: none;
        padding-right: 0.5em; /* orientation=rt */
        padding-left: 0.5em; /* orientation=lt */
    }
}
