
.UITabPaneDashboard {
	background-color: #F0F0F0;
	border-bottom: 1px solid #e5e5e5;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius:  0;
	margin: 0 8px;
}
.UITabPaneDashboard .AddDashboard{
	background-image: url('background/AddDashboard.gif');
	width: 22px;
}

.UITabPaneDashboard .UITab {	
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	background-color:#E6E6E6;
	border:1px solid #DADADA;
	height: 20px;
	line-height: 20px;
	margin-top: 5px;
	margin-right: 4px;/* orientation=lt */
	margin-left: 4px;/* orientation=rt */
}
.UITabPaneDashboard  .UITab .Tablabel {
	color:#999;	
}

.UITabPaneDashboard  .UITab .CloseIcon {
	background-image: url('background/IconClose.gif');
}

.UITabPaneDashboard  .SelectedTab {
	background-color:#fff;	
}