.gtnResponsiveHeaderPortlet {
margin: 0;
padding: 0;
}

.gtnResponsiveHeaderPortlet .logo  {
background-image: url('../images/gatein_logo.svg');
line-height: 1em;
background-repeat: no-repeat;
background-size: auto 2.5em;
height: 2.5em;
width: 12em;
background-position: 1em 0.8em;
padding: 0.8em 0 0.8em 1em;
float: left;
cursor: pointer;
}


.gtnResponsiveHeaderPortlet .options {
float: right;
line-height: 2em;
font-size: 95%;
}

.gtnResponsiveHeaderPortlet .options.collapsed {
display: none;
}

.gtnResponsiveHeaderPortlet .options.highlight {
float:none;
clear:both;
text-align: right;
}


.gtnResponsiveHeaderPortlet .options ul
{
list-style-type: none;
padding: 1em;
margin: 0;
}

.gtnResponsiveHeaderPortlet .options ul li {
display: inline;
padding: 1em;
white-space: nowrap;
}

.gtnResponsiveHeaderPortlet .options ul li {
background: url("../images/bullet-separator.png") no-repeat left center;
}

.gtnResponsiveHeaderPortlet .options ul li:first-child {
background: none;
}


.gtnResponsiveHeaderPortlet .options ul li.singleline{
display: block;
background: none;
}

.gtnResponsiveHeaderPortlet .options ul li a {
color: #1C5182;;
}

.gtnResponsiveHeaderPortlet .options ul li a:HOVER {
color: #002559;
text-decoration: underline;
}

.gtnResponsiveHeaderPortlet .icon {
background-image: url('../images/preference.svg');

background-repeat: no-repeat;
background-size: auto 2em;
height: 2.5em;
width: 2.5em;
background-position: center;
padding: 0.8em 1em 0.8em 1em;
float: right;
}

.gtnResponsiveHeaderPortlet .clear {
clear: both;
}

.gtnResponsiveHeaderPortlet .highlight {
	background-color: #B2C6DB;
}

.gtnResponsiveHeaderPortlet .hidden {
	display: none;
}

div.UIToolbarContainer{
 display: none;
}

