.gtnResponsiveHeaderPortlet {
    margin: 0;
    padding: 0;
    line-height: 0;
    margin-bottom: 0.9375em;
}

.gtnResponsiveHeaderPortlet .collapsibleRow {width: 100%;}


/* Logo */

.gtnResponsiveHeaderPortlet .logo {
    background-image: url("../images/gatein_logo_ltr.svg"); /* orientation=rt */
    background-image: url("../images/gatein_logo.svg"); /* orientation=lt */
    line-height: 1em;
    background-repeat: no-repeat;
    background-size: cover;
    width: 10.375em;
    height: 2.8125em;
    background-position: 0 0;
    padding: 0;
    margin: 1.25em 3.4188% 0 1.7094%;
    float: right; /* orientation=rt */
    float: left; /* orientation=lt */
    cursor: pointer;
}


/* Right menu */

.gtnResponsiveHeaderPortlet .options {
    float: left; /* orientation=rt */
    float: right; /* orientation=lt */
    text-align: left; /* orientation=rt */
    text-align: right; /* orientation=lt */
    margin-top: 2.3125em;
    margin-right: 1.7094%;
}

.gtnResponsiveHeaderPortlet ol.topmenu {
    margin: 0;
    padding-left: 0;
}

.gtnResponsiveHeaderPortlet .topmenu > li {
    background: url("../images/bullet-separator.png") no-repeat left center; /* orientation=rt */
    background: url("../images/bullet-separator.png") no-repeat right center; /* orientation=lt */
    padding-right: 0.625em;
    margin-right: 0.2em;
    display: inline-block;
    line-height: 1em;
}

.gtnResponsiveHeaderPortlet .topmenu > li:last-child {
    background: none;
    margin-right: 0;
    padding-right: 0;
}

.gtnResponsiveHeaderPortlet .options a {font-size: 0.9375em;}

.gtnResponsiveHeaderPortlet .options a:hover {text-decoration: underline;}


/* Right menu expanded */

.gtnResponsiveHeaderPortlet .collapsibleRow.expanded {width: 100%;}

.gtnResponsiveHeaderPortlet .collapseButton {
    display: none;
    float: left; /* orientation=rt */
    float: right; /* orientation=lt */
}


/* Right menu collapsed */

.gtnResponsiveHeaderPortlet .collapsibleRow.collapsed {
    width: 100%;
    position: relative;
}

.gtnResponsiveHeaderPortlet .collapsibleRow.collapsed > .collapseButton {display: block;}

.gtnResponsiveHeaderPortlet .userpreferencebutton {
    float: left; /* orientation=rt */
    float: right; /* orientation=lt */
    margin-top: 1.4375em;
    margin-right: 1.7094%;
    width: 2.5em;
    height: 1.875em;
    background-color: #F5F5F5;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e6e6e6)); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, #fff, #e6e6e6); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, #fff, #e6e6e6); /* Firefox 3.6-15 */
    background-image:     -ms-linear-gradient(top, #fff, #e6e6e6); /* IE 10+ */
    background-image:      -o-linear-gradient(top, #fff, #e6e6e6); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, #fff, #e6e6e6); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    background-position: center top;
    background-repeat: repeat-x;
    border-radius: 0.25em;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #A2A2A2;
    border-style: solid;
    border-width: 0.07142em;
    box-shadow: 0 0.07142em 0 rgba(255, 255, 255, 0.2) inset, 0 0.07142em 0.14284em rgba(0, 0, 0, 0.05);
}

.gtnResponsiveHeaderPortlet .userpreferencebutton:hover {
    background-color: #E6E6E6;
    background-image: none;
}

.gtnResponsiveHeaderPortlet .enabled {
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e7e7e7)); /* Chrome, Safari 4+ */
    background-image: -webkit-linear-gradient(top, #eee, #e7e7e7); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:    -moz-linear-gradient(top, #eee, #e7e7e7); /* Firefox 3.6-15 */
    background-image:     -ms-linear-gradient(top, #eee, #e7e7e7); /* IE 10+ */
    background-image:      -o-linear-gradient(top, #eee, #e7e7e7); /* Opera 11.10-12.00 */
    background-image:         linear-gradient(to bottom, #eee, #e7e7e7); /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
    box-shadow: inset 1px 0px 5px rgba(0,0,0,0.3);
    border-color: #c3c3c3;
}

.gtnResponsiveHeaderPortlet .btn {
    background-image: url(../images/icon-user.svg);
    background-color: transparent;
    background-position: center 0.5em;
    background-repeat: no-repeat;
    display: block;
    text-indent: -999999em;
    width: 2.5em;
    height: 1.875em;
}

.gtnResponsiveHeaderPortlet .userpreferencebutton:hover .btn,
.gtnResponsiveHeaderPortlet .enabled .btn {background-position: center -1.6875em;}

.gtnResponsiveHeaderPortlet .enabled .btn {border-color: #c3c3c3;}

.gtnResponsiveHeaderPortlet .collapsibleRow.collapsed > .collapsibleContent {display:none;}

.gtnResponsiveHeaderPortlet .collapsed > .collapsibleContent.display {display: block;}

.gtnResponsiveHeaderPortlet .collapsed .options.display {
    clear: both;
    margin-right: 0.69em;
    margin-top: 0.75em;
}


/* Clearfix */ /* This could be moved to a common area */

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}


/* RWD */

@media screen and (max-width: 47.5em) { /* 760px */

    .gtnResponsiveHeaderPortlet .logo {   
        width: 8.5625em;
        height: 2.25em;
    }
    
    .gtnResponsiveHeaderPortlet .options {
        margin-top: 1.9375em;
    }
    
}

@media screen and (max-width: 30em) { /* 480px */
    
    .gtnResponsiveHeaderPortlet .logo {  
        margin-top: 0.625em; 
        margin-left: 0.625em;
        width: 8em;
        height: 2.0625em;
    }
    
    .gtnResponsiveHeaderPortlet .options {
        margin-top: 1.1875em;
        margin-right: 0.625em;
    }
    
    .gtnResponsiveHeaderPortlet .userpreferencebutton {
        margin-top: 0.6875em;
        margin-right: 0.625em;
    }

}


/* ------------------------------------------ Submenu support ------------------------------------------ */

.gtnResponsiveHeaderPortlet .submenu {
    background-color: #EEE;
    list-style-type: none;
    padding: 0;
    position: absolute;
    z-index: 40;
    white-space: nowrap;
}

.gtnResponsiveHeaderPortlet .submenu .submenu {
    position: relative;
}

.gtnResponsiveHeaderPortlet .menuelement.collapsed .submenu {
    display: none;
}

.gtnResponsiveHeaderPortlet .options .topmenu.collapsed .submenu {
    position: static;
    width: 100%;
}

.gtnResponsiveHeaderPortlet .submenu ol li {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-indent: 1em;
    display: block;
}

.gtnResponsiveHeaderPortlet .submenu > li {
    margin: 1em;
}

/* On browser which support :not this works very nicely when using a mouse. Unfortunately, iOS does not support it */
/* .gtnResponsiveHeaderPortlet .menuelement.close:not(:hover)>.submenu { */
/* 	display:none; */
/* } */

.gtnResponsiveHeaderPortlet .menuelement.close>.submenu {
    display: none;
}

.gtnResponsiveHeaderPortlet .menucategory {
    display: inline;
}

.gtnResponsiveHeaderPortlet .menuelement.open {
    background-color: #CCC;
}

.gtnResponsiveHeaderPortlet .menuelement.open .submenu {
    background-color: #EEE;
}

.gtnResponsiveHeaderPortlet .menuarrow {
    border-width: 0.25em;
    border-color: transparent;
    border-style: solid;
    display: inline-block;
    cursor: pointer;
}

/* TODO: figure out if there is a better way to handle this, its a pain that it doesn't inherit padding 0 from the parent */

.gtnResponsiveHeaderPortlet .topmenu .menuelement.close .menuarrow {
    border-color: black transparent transparent;
    margin-top: 0.25em;
}

.gtnResponsiveHeaderPortlet .topmenu .menuelement.open .menuarrow {
    border-color: transparent transparent black;
    margin-bottom: 0.25em;
}

.gtnResponsiveHeaderPortlet .submenu .menuelement.close .menuarrow {
    border-color: transparent transparent transparent black;
    margin-top: 0.25em;
}

.gtnResponsiveHeaderPortlet .submenu .menuelement.open .menuarrow {
    border-color: black transparent transparent;
    margin-bottom: 0.125em;
}