/******************************************************************************
 * JBoss, a division of Red Hat                                               *
 * Copyright 2013, Red Hat Middleware, LLC, and individual                    *
 * contributors as indicated by the @authors tag. See the                     *
 * copyright.txt in the distribution for a full listing of                    *
 * individual contributors.                                                   *
 *                                                                            *
 * This is free software; you can redistribute it and/or modify it            *
 * under the terms of the GNU Lesser General Public License as                *
 * published by the Free Software Foundation; either version 2.1 of           *
 * the License, or (at your option) any later version.                        *
 *                                                                            *
 * This software is distributed in the hope that it will be useful,           *
 * but WITHOUT ANY WARRANTY; without even the implied warranty of             *
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU           *
 * Lesser General Public License for more details.                            *
 *                                                                            *
 * You should have received a copy of the GNU Lesser General Public           *
 * License along with this software; if not, write to the Free                *
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA         *
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.                   *
 ******************************************************************************/
 
.gtnResponsiveFooterPortlet {
    margin: 0;
    padding: 0;
    font-size: 95%;
}

.gtnResponsiveFooterPortlet a {
    color: #666;
}

.gtnResponsiveFooterPortlet a:hover {
    color: #005580;
    text-decoration: underline;
}

.gtnResponsiveFooterPortlet .options {
    float: left; /* orientation=rt */
    float: right; /* orientation=lt */
}

.gtnResponsiveFooterPortlet .copyright {
    float: right; /* orientation=rt */
    float: left; /* orientation=lt */
    text-align: center;
    max-width: 100%;
    padding: 1em;
}

.gtnResponsiveFooterPortlet .collapsibleRow {
    white-space: nowrap;
}

.gtnResponsiveFooterPortlet .collapsibleRow.collapsed,
.gtnResponsiveFooterPortlet .collapsibleRow.expanded {
    white-space: inherit;
}

.gtnResponsiveFooterPortlet .collapsibleRow.collapsed .copyright {
    float: none;
    clear: both;
}

.gtnResponsiveFooterPortlet .copyright p {
    display: inline;
}

.gtnResponsiveFooterPortlet .clear {
    clear: both;
}

.gtnResponsiveFooterPortlet ul {
    list-style-type: none;
    padding: 0;
}

.gtnResponsiveFooterPortlet ul li {
    display: inline;
    padding: 1em;
    background: url(../images/bullet-separator.png) no-repeat right center; /* orientation=rt */
    background: url(../images/bullet-separator.png) no-repeat left center; /* orientation=lt */
}

.gtnResponsiveFooterPortlet ul li:first-child {
    background: none;
}

.gtnResponsiveFooterPortlet .downCaret {
    border-width: 0.25em;
    border-color: transparent transparent #666;
    border-style: solid;
    display: inline-block;
    margin-bottom: 0.25em;
}