.gtnResponsiveFooterPortlet a {color: #666;}

.gtnResponsiveFooterPortlet a:hover {
    color: #005580;
    text-decoration: underline;
}

.gtnResponsiveFooterPortlet .options {
    float: left; /* orientation=rt */
    float: right; /* orientation=lt */
    padding-left: 2.5641%;   /* orientation=rt */
    padding-right: 2.5641%; /* orientation=lt */
}

.gtnResponsiveFooterPortlet .copyright {
    float: right; /* orientation=rt */
    float: left; /* orientation=lt */
    text-align: center;
    max-width: 100%;
    padding: 0.75em 2.5641% 0.75em 1em; /* orientation=rt */
    padding: 0.75em 1em 0.75em 2.5641%; /* orientation=lt */
    margin-right: 0.3125em; /* orientation=rt */
    margin-left: 0.3125em;  /* orientation=lt */
}

.gtnResponsiveFooterPortlet .collapsibleRow {
    white-space: nowrap;
}

.gtnResponsiveFooterPortlet .collapsibleRow.collapsed,
.gtnResponsiveFooterPortlet .collapsibleRow.expanded {
    white-space: inherit;
}

.gtnResponsiveFooterPortlet .copyright p {
    display: block;
    font-size: 0.75em;
    color: #A7A7A7;
    margin: 0;
}

.gtnResponsiveFooterPortlet .clear {
    clear: both;
}

.gtnResponsiveFooterPortlet ul {
    list-style-type: none;
    padding: 0;
    margin: 0.75em 0 0.3125em 0;
}

.gtnResponsiveFooterPortlet ul li {
    display: inline;
    padding: 1.33333333333333em 0.91666666666667em 1.33333333333333em 0.5em; /* orientation=rt */
    padding: 1.33333333333333em 0.5em 1.33333333333333em 0.91666666666667em; /* orientation=lt */
    background: url(../images/bullet-separator.png) no-repeat right center; /* orientation=rt */
    background: url(../images/bullet-separator.png) no-repeat left center; /* orientation=lt */
    font-size: 0.75em;
}

.gtnResponsiveFooterPortlet ul li:first-child {
    background: none;
}

.gtnResponsiveFooterPortlet .downCaret {
    border-width: 0.25em;
    border-color: transparent transparent #666;
    border-style: solid;
    display: inline-block;
    margin-bottom: 0.25em;
}

/* Collapsed */

.gtnResponsiveFooterPortlet .collapsibleRow.collapsed .options {
    float: none;
    padding: 0;
    text-align: center;
}

.gtnResponsiveFooterPortlet .collapsibleRow.collapsed .copyright {
    float: none;
    clear: both;
    padding-top: 0.5em;
    padding-bottom: 1em;
}
