.EDITION-BLOCK .DragControlArea {
   width: 2em;
}

.UIWizard .UIWizardContent .UIDropDownControl .UIDropDownAnchor,
.UIDropDownControl .UIDropDownAnchor {
   z-index: 10;
   position: static !important;
   width: 100%;
}

.UIPageBrowser {
   min-width: 60em;
}

.UIPageSelector {
   width: auto;
}

@media screen and (max-width: 40em) {
.UIGroupMembershipSelector .MembershipSelector,
.UIGroupMembershipSelector .GroupSelector {
    float: none;
    width: 100%;
    margin-left:0;
    margin-right:0;
}
.UIGroupMembershipSelector .UITrees .TreeContainer {
    height: auto;
}

.UIManagement .Content>div,
.UIManagement .Image {
    display: none;
}

.UIPortalNavigationPortlet div.UIManagement table.ManagementBlock td.Content {
    width: 35%;
}

.UIManagement .Content .Label {
    display: block;
}

.UIManagement .ManagementBlock .ActionBlock a {
    margin: 0.5em;
    height: auto;
}

.UIManagement .FeedBox .ManagementBlock .ActionBlock {
    width: 45%;
}

.UIGroupMembershipSelector .MembershipTitle {
    height: auto;
    background: none;
}
}

