@CHARSET "UTF-8";
.register-unit {
	margin: auto;
	width: 50%;
}

.register-unit > table > td:FIRST-CHILD {
	text-align: right;
}
.social-login {
    text-align: center;
    max-width: 370px;
    margin: auto;
    text-align: justify;
}
.social-login a {margin-bottom: 10px;}