@import url(ResponsiveStylesheet.css);

.gtnResponsiveNavigationPortlet a>span {
  font-size: 13px;
}

.gtnResponsiveNavigationPortlet li.active>a:first-child,
.gtnResponsiveNavigationPortlet .topmenu a {
  text-shadow: none;
}

.gtnResponsiveNavigationPortlet .multilevel {
  background-size: 30%;
}

.gtnResponsiveNavigationPortlet li.active>a:first-child {
  background-color: rgba(256, 256, 256, 0.6)
}
