#gtnRedirect {
  margin: 0;
  background-color: #DEDFDF;
  color: #000;
  line-height: 30px;
  text-align: center;
}

#gtnRedirect p, #gtnRedirect ul, #gtnRedirect li {
   padding: 0; 
   margin: 0;
   font-weight: bold;
   display: inline;
}

#gtnRedirect li {
   margin: 0 10px;
   display: inline;
}

#gtnRedirect a {
   text-decoration: underline;
}
