/*
 * JBoss, Home of Professional Open Source.
 * Copyright 2012, Red Hat, Inc., and individual contributors
 * as indicated by the @author tags. See the copyright.txt file in the
 * distribution for a full listing of individual contributors.
 *
 * This is free software; you can redistribute it and/or modify it
 * under the terms of the GNU Lesser General Public License as
 * published by the Free Software Foundation; either version 2.1 of
 * the License, or (at your option) any later version.
 *
 * This software is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
 * Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public
 * License along with this software; if not, write to the Free
 * Software Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA
 * 02110-1301 USA, or see the FSF site: http://www.fsf.org.
 */
.UITabPane .UIHorizontalTabs {
    background-color: whiteSmoke;
    box-shadow: 0 1px 0 white inset;
    border-bottom: 1px solid #DDD;
}

.UITab .SelectedTab,.UITab .NormalTab,.UITab .DisabledTab {
    border-radius: 0.25em 0.25em 0 0;
    padding: 0.5em 1em 0.25em;
    border: solid thin #aeaeae;
    position: relative;
    top: 2px;
    background-color: white;
}

.UITabPane .UITabContentContainer {
    border: solid 1px #aeaeae;
}

.UITabPane .UIHorizontalTabs div.LineSeparator {
    display: none;
}

.UITabPane .UITabContentContainer .UITabContent {
    padding: 0;
}

.UITabPane .UITabContentContainer .UITabContent {
    background: white;
}

.UITab .SelectedTab {
      border-bottom: solid thick #FFF;
}

.UITab .SelectedTab a {
    color: #000;
}

.UITab .NormalTab {
    background-color: #DDD;
    border-bottom: solid thick #DDD;
    display: inline-block;
    height: 100%;
}

.UITab .NormalTab a {
    color: #1C5182;
}

.UITab .DisabledTab {
    color: grey;
}

.UIHorizontalTabs .TabsContainer {
    height: auto;
    display: table;
}

.UIHorizontalTabs .TabsContainer .UITab .LeftTab,.UIHorizontalTabs .TabsContainer .UITab .RightTab,.UIHorizontalTabs .TabsContainer .UITab .MiddleTab
    {
    background: none;
    padding: 0;
}

.UIPopupMessages .UIHorizontalTabs,.UIPopupMessages .UIHorizontalTabs .TabsContainer {
    height: auto;
}

.UIHorizontalTabs .MessageTabDialog .SelectedTab .RightTab,.UIHorizontalTabs .MessageTabDialog .SelectedTab .LeftTab,.UIHorizontalTabs .MessageTabDialog .SelectedTab .MiddleTab,.UIHorizontalTabs .CenterHorizontalTabs
    {
    background: none;
}

.UIPopupMessages {
    -webkit-overflow-scrolling: touch;
}

.UITabContentContainer {
    clear: both
}

.UIHorizontalTabs .NormalTabStyle .SelectedTab {
    color: #000;
    display: inline-block;
    height: 100%;
}

.UIHorizontalTabs .UITab {
    margin-left: 0.1em;
    margin-right: 0.1em;
    float: none;
    display: table-cell;
    vertical-align: bottom;
}

.UITabSelector .UIHorizontalTabs,
     .UITabSelector .UIHorizontalTabs .CenterHorizontalTabs,
    .UITabSelector .UIHorizontalTabs .TabsContainer {
        height: auto;
        background: none;
    }

    .UITabSelector .UIHorizontalTabs .LeftHorizontalTabs,
    .UITabSelector .UIHorizontalTabs .RightHorizontalTabs {
        background: none;
    }

@media only screen and (max-width: 30em) {
    .UITabPane .TabPaneContent {
        padding: 0;
    }
    .UIHorizontalTabs .UITab {
        float: none;
        margin: 0.5em;
    }
    .UITabPane .UIHorizontalTabs div {
        display: block;
        height: auto;
    }
    .UIPopupMessages .UIHorizontalTabs .TabsContainer,
    .UIPopupMessages .UIHorizontalTabs {
        height: auto;
    }

    .UIHorizontalTabs .TabsContainer,
    .UIHorizontalTabs .UITab {
        display: block;
    }

    .UITabSelector .UIHorizontalTabs,
    .UITabSelector .UIHorizontalTabs .CenterHorizontalTabs,
    .UITabSelector .UIHorizontalTabs .TabsContainer {
        height: auto;
        background: none;
    }

    .UITabSelector .UIHorizontalTabs .LeftHorizontalTabs,
    .UITabSelector .UIHorizontalTabs .RightHorizontalTabs {
        background: none;
    }

    .UITab .SelectedTab,.UITab .NormalTab,.UITab .DisabledTab {
        border-radius: 0.25em;
        border: solid thin #333;
        margin: 0.25em;
    }
    .UITab .NormalTab,.UITab .DisabledTab {
        background: none;
        border: none;
    }
    .UIHorizontalTabs .MessageTabDialog {
        float: none;
    }
    .UIPopupMessages ul {
        height: auto;
    }
}
