.gtnResponsiveFooterPortlet {
margin: 0;
padding: 0;
}

.gtnResponsiveFooterPortlet .options {
float: right;
}

.gtnResponsiveFooterPortlet .copyright {
float: left;
text-align: center;
max-width:100%;
padding: 1em;
color: #888;
}

.gtnResponsiveFooterPortlet .copyright p {
	display: inline;
}

.gtnResponsiveFooterPortlet .clear {
clear: both;
}

.gtnResponsiveFooterPortlet ol{
list-style-type: none;
padding: 0;
}

.gtnResponsiveFooterPortlet ol::after{
content:"";
clear:both;
}

.gtnResponsiveFooterPortlet ol li{
display: inline;
padding: 1em;
}

.gtnResponsiveFooterPortlet ol li.sitePreference{
text-decoration: underline;
}

.gtnResponsiveFooterPortlet ol li.language{
background-image: url('/responsive-footer-portlet/css/../images/uparrow.svg');
background-size: 0.8em 0.8em;
background-repeat: no-repeat;
background-position: right center;
margin-right: 0.8em;
}