@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url('../resources/ubuntu-font.woff') format('woff');
}

/* Small size devices ( <320px ) */
html
{
    display:table;
    height:100%;
    width:100%;
    -webkit-text-size-adjust: none; /* fixing font-size change after changing orientation on iPhone */
}

html *
{
    margin: 0;
    padding:0;
}

body
{
    background: url('../images/uiportal-background.jpg') left top #EFEFEF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 15em;
    display:table-cell;
    vertical-align:middle;
}

form
{
    background:#FFF;
    padding: 0.7em;
}

form span
{
    color:#999;
}

fieldset
{
    border:none;
}

fieldset legend
{
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: none;
}

h1 a
{
    display: none;
}

label
{
    float: left;
}

label[for=rememberme]{
    color: #999;
}

input[type=submit], input[type=text], input[type=password]{
    -webkit-appearance: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius:.3em;
    background:#FFF;
    border:.1em solid #ddd;
    border-radius:.3em;
    float:left;
    margin:.5em auto .5em 0;
    font-size: inherit;
}

input[type=text], input[type=password] {
    padding: .5em 0;
    text-indent: 0.5em;
    width: 100%;
}

input[type=submit]
{
    padding:.25em 1em;
    margin-bottom: 0;
    margin-top: 1em;
    background-color: #005490;
    border:.1em solid #1C4E7E;
    color:#FFF;
    text-shadow: 0 -0.06em 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    clear:left;
    line-height: 1.6em;
    border-color: #0044cc #0044cc #002a80;
}

input[type=submit]:hover
{
    background:#1763a4;
}

input[type=checkbox]
{
    margin: 0;
    float:right;
}

#forgot
{
    float: left;
    color: #999;
    margin-top: 0.5em;
}

#footer p
{
    color:#999;
    font-size: 0.9em;
    margin-top:0.5em;
}


#footer a, a {
    color: #666666;
    text-decoration: none;
}

#footer a:hover, a:hover {
    color: #005580;
    text-decoration: underline;
}

#error-pane
{
    background:#f1dede;
    color:#b54b46;
    text-align:center;
    text-shadow:#fff 0 0.06em 0;
}

#error-pane h2
{
    display: inline;
    font-size: inherit;
}

#error-pane span {
    display: none;
}

#button-close-alert
{
    display:none;
}

#footer {
    text-align:center;
}

#social-pane {
    margin-top: 1.7em;
}

#social-login {
    text-align: center;
    margin-bottom: 1em;
}

#social-login a.login-button {
    border-radius: .3125em;
    border: .0625em solid #8f301f;
    display: block;
    line-height: 1.1875em;
    background-color: #d54529;
    margin: .625em .3125em .3125em .3125em;
}

#social-login a.login-button:hover {
    background-color: #e55539;
    text-decoration: none;
}

#social-login a.login-button > div {
    color: white;
    font-size: 0.85em;
    padding: 0.146em 0.66em 0.146em 2.7em;
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/generic.png") .5882em no-repeat;
    border-radius: 0.3125em;
    border-top: 0.075em solid;
    position: relative;
}

#social-login a.login-button > div:before{
    border-left:0.075em solid black;
    border-right:0.075em solid white;
    content: "separator";
    position: absolute;
    left: 2.1em;
    text-indent: -9999px;
}

#social-login #login-GOOGLE {
    background-color: #df4a32;
    border-color:#d1412a;
}

#social-login #login-GOOGLE:hover {
    background-color: #e75240;
}

#social-login #login-GOOGLE > div {
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/google.png") 8px no-repeat;
    border-color: #e56e5b;
}

#social-login #login-GOOGLE > div:before {
    border-left-color:#c8422d;
    border-right-color:#e46551;
}

#social-login #login-FACEBOOK {
    background-color: #355192;
    border-color:#2d4887;
}

#social-login #login-FACEBOOK:hover {
    background-color: #3d599a;
}

#social-login #login-FACEBOOK > div {
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/facebook.png") 8px no-repeat;
    border-color: #536BA2;
}

#social-login #login-FACEBOOK > div:before {
    border-left-color:#2a4175;
    border-right-color:#4a639d;
}

#social-login #login-TWITTER {
    background-color: #3cbbeb;
    border-color:#32afde;
}

#social-login #login-TWITTER:hover {
    background: #44c3f3;
}

#social-login #login-TWITTER > div {
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/twitter.png") 8px no-repeat;
    border-color: #63c9ef;
}

#social-login #login-TWITTER > div:before {
    border-left-color:#36a8d3;
    border-right-color:#59c5ee;
}

#social-login #login-LINKEDIN {
    background-color: #005f8d;
    border-color: rgba(0,0,0,0.2);
}

#social-login #login-LINKEDIN:hover {
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2);
}

#social-login #login-LINKEDIN > div {
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/linkedin.png") 6px 2px no-repeat;
    border-top-color: #007bb6;
}

#social-login #login-LINKEDIN > div:before {
    border-right: 1px solid rgba(0,0,0,0.2);
    border-left: none;
}

.SignInDelimiter {
    margin: .31em 0;
    text-align: center;
}

.SignInDelimiter span {
    font-size: 0.88em;
}