@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url('../resources/ubuntu-font.woff') format('woff');
}

/* Small size devices ( <320px ) */
html
{
    display:table;
    height:100%;
    width:100%;
    -webkit-text-size-adjust: none; /* fixing font-size change after changing orientation on iPhone */
}

html *
{
    margin: 0;
    padding:0;
}

body
{
    background: url('../images/uiportal-background.jpg') left top #EFEFEF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    min-width: 15em;
    display:table-cell;
    vertical-align:middle;
}

form
{
    background:#FFF;
    padding: 0.7em;
}

form span
{
    color:#999;
}

fieldset
{
    border:none;
}

fieldset legend
{
    font-family: "Ubuntu", "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: none;
}

h1 a
{
    background: url('../images/gatein_logo_small.png') no-repeat center;
    display: block;
    height: 38px;
    width: 150px;
    margin: 0.2em auto;
    text-indent: -9999em;
    font-size: 1em;
}

label
{
    float: left;
}

label[for=rememberme]{
    color: #999;
}

input[type=submit], input[type=text], input[type=password]{
    -webkit-appearance: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-border-radius:.3em;
    background:#FFF;
    border:.1em solid #ddd;
    border-radius:.3em;
    float:left;
    margin:.5em auto .5em 0;
    font-size: inherit;
}

input[type=text], input[type=password] {
    padding: .5em 0;
    text-indent: 0.5em;
    width: 100%;
}

input[type=submit]
{
    padding:.25em 1em;
    margin-bottom: 0;
    margin-top: 1em;
    background-color: #005490;
    border:.1em solid #1C4E7E;
    color:#FFF;
    text-shadow: 0 -0.06em 0 rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    clear:left;
    line-height: 1.6em;
    border-color: #0044cc #0044cc #002a80;
}

input[type=submit]:hover
{
    background:#1763a4;
}

input[type=checkbox]
{
    margin: 0;
    float:right;
}

#forgot
{
    float: left;
    color: #999;
    margin-top: 0.5em;
}

#footer p
{
    color:#999;
    font-size: 0.9em;
    margin-top:0.5em;
}


#footer a, a {
    color: #666666;
    text-decoration: none;
}

#footer a:hover, a:hover {
    color: #005580;
    text-decoration: underline;
}

#error-pane
{
    background:#f1dede;
    color:#b54b46;
    text-align:center;
    text-shadow:#fff 0 0.06em 0;
}

#error-pane h2
{
    display: inline;
    font-size: inherit;
}

#error-pane span {
    display: none;
}

#button-close-alert
{
    display:none;
}

#footer {
    text-align:center;
}

#social-login {
    text-align: center;
    margin-bottom: 1em;
}

#social-login a.login-button {
    border-radius: .5em;
    border: .1em solid;
    box-shadow: 0 .18em .31em rgba(0, 0, 0, 0.2);
    display: block;

    background-color: #a0a0a0;
    background: linear-gradient(to bottom, #c0c0c0, #a0a0a0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c0c0c0), to(#a0a0a0));
    border-color:#A0A0A0;
    
    text-decoration: none;
    
    font-size: .75em;
    
    margin: .62em .93em .31em .93em;
}

#social-login a.login-button:hover {
    background-color: #b0b0b0;
    background: linear-gradient(to bottom, #d0d0d0, #b0b0b0);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d0d0d0), to(#b0b0b0));
    border-color:#b0b0b0;
}

#social-login a.login-button > div {
    border: .1em solid;
    border-radius: .5em;
    color: white;    
    padding: .25em .5em .25em 1.84em;
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/generic.png") left no-repeat;
    border-color: #D0D0D0 #D0D0D0 #B0B0B0;
}

#social-login #login-GOOGLE {
    background-color: #ac2b1c;
    background: linear-gradient(to bottom, #dd4b39, #ac2b1c);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dd4b39), to(#ac2b1c));
    border-color:#8f301f #8f301f #8f301f #8f301f;
}

#social-login #login-GOOGLE:hover {
    background-color: #bc3b2c;
    background: linear-gradient(to bottom, #ed5b49, #bc3b2c);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ed5b49), to(#bc3b2c));
    border-color:#9f402f;
}

#social-login #login-GOOGLE > div {
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/google.png") left no-repeat;
    border-color: #ec9b8c #ec9b8c #dd4d29 #ec9b8c;
}

#social-login #login-FACEBOOK {
    background-color: #4164a3;
    background: linear-gradient(to bottom, #5a7aaf, #4164a3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#5a7aaf), to(#4164a3));
    border-color:#1b386b;
}

#social-login #login-FACEBOOK:hover {
    background-color: #5174b3;
    background: linear-gradient(to bottom, #6a8abf, #5174b3);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6a8abf), to(#5174b3));
    border-color:#2b487b;
}

#social-login #login-FACEBOOK > div {
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/facebook.png") left no-repeat;
    border-color: #728cbc #728cbc #728cbc #728cbc;
}

#social-login #login-TWITTER {
    background-color: #429dd5;
    background: linear-gradient(to bottom, #52ade5, #429dd5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#52ade5), to(#429dd5));
    border-color:#328dc5;
}

#social-login #login-TWITTER:hover {
    background: #52ade5;
    background: linear-gradient(to bottom, #62bdf5, #52ade5);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#62bdf5), to(#52ade5));
    border-color:#429dd5;
}

#social-login #login-TWITTER > div {
    background: url("/eXoResources/skin/DefaultSkin/portal/webui/component/widget/UILoginForm/background/twitter.png") left no-repeat;
    border-color: #62bdf5 #62bdf5 #62bdf5 #62bdf5;
}

.SignInDelimiter {
    margin: .31em 0;
    text-align: center;
}

.SignInDelimiter span:before, .SignInDelimiter span:after {
    background: none repeat scroll 0 0 red;
    border-bottom: 0.0625em solid #E9E9E9;
    display: inline-block;
    content: "";
    margin: .25em .87em;
    width: 30%;
}