/* General styles */

.RedirectAdmin @font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

.RedirectAdmin div, .RedirectAdmin table, .RedirectAdmin tr, .RedirectAdmin td, .RedirectAdmin img, .RedirectAdmin form,
.RedirectAdmin input, .RedirectAdmin select, .RedirectAdmin textarea, .RedirectAdmin button, 
.RedirectAdmin keygen, .RedirectAdmin isindex, .RedirectAdmin legend, .RedirectAdmin a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.RedirectAdmin .icon-gray {background-image: url("../img/rcue-icons-gray.png");}

.RedirectAdmin .gray {color: #999;}

.RedirectAdmin .btn.disabled {cursor: default;}

.RedirectAdmin .btn.disabled, 
.RedirectAdmin .btn[disabled],
.RedirectAdmin .btn.disabled:hover,
.RedirectAdmin .btn[disabled]:hover {background: #f0f0f0;}

.RedirectAdmin i {
	text-indent: -99999px;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
}

.RedirectAdmin a {color: #1c5182;}
.RedirectAdmin a:focus {outline: none;}
.RedirectAdmin a:hover {color: #285786;}

.RedirectAdmin button.close,
.RedirectAdmin a.close {
	text-indent: -99999px;
	display: inline-block;
	width: 10px;
	height: 12px;
	background: url("../img/icon-close.png") no-repeat left top;
}

.RedirectAdmin button.modal-close,
.RedirectAdmin a.modal-close {
	text-indent: -99999px;
	display: inline-block;
	width: 10px;
	height: 12px;
	float: right;
	margin-top: 7px;
	opacity: 0.2;
	background: url("../img/icon-close.png") no-repeat left top;
}

.RedirectAdmin .alert .close {top: 3px;}

.RedirectAdmin .tooltip {z-index: 1060;}

.RedirectAdmin input[type="file"] {
	height: auto;
	font-family: Helvetica, Arial, sans-serif;
}

.RedirectAdmin button {
	background: none;
	border: none;
	padding: 0;
	margin: 0;
}

.RedirectAdmin .hidden-element {display: none!important;}
.RedirectAdmin .visible {visibility: visible!important;}

.RedirectAdmin .toggle {
	cursor: pointer;
	background-image: url("../img/icon-arrow-opened.png");
	background-repeat: no-repeat;
	background-position: left 2px; /* orientation=lt */
	background-position: right 2px; /* orientation=rt */
	padding-left: 16px; /* orientation=lt */
	padding-right: 16px; /* orientation=rt */
	line-height: 16px;
}

.RedirectAdmin .toggle.closed {background-image: url("../img/icon-arrow-closed.png");}

.RedirectAdmin .dropdown-toggle {cursor: pointer;}

.RedirectAdmin .dropdown-menu.up {
	bottom: 100%;
	top: auto;
}

.RedirectAdmin .dropdown-menu.left {
	left: auto; /* orientation=lt */
	right: auto; /* orientation=rt */
	right: 0; /* orientation=lt */
	left: 0; /* orientation=rt */
}

.RedirectAdmin .dropdown-menu li.separator {
	border-top: 1px solid #E5E5E5;
	margin-top: 4px;
	padding-top: 4px;
}

.RedirectAdmin .btn-primary {
	background-color: #005490;
	background-image: none;
	border-color: #1c4e7e;
}

.RedirectAdmin .btn-primary:hover {background-color: #014f87;}

.RedirectAdmin .btn-primary[disabled],
.RedirectAdmin .btn-primary.disabled,
.RedirectAdmin .btn-primary[disabled]:hover,
.RedirectAdmin .btn-primary.disabled:hover {background-color: #005490;}

.RedirectAdmin .transparent,
.RedirectAdmin .injectable {
	-moz-transition: opacity 0.3s linear;
	-webkit-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

.RedirectAdmin .transparent,
.RedirectAdmin .disabled.transparent {opacity: 0.3;}

.RedirectAdmin .injectable {
	opacity: 0;
}
.RedirectAdmin .injectable.fade-in {
	opacity: 1;
}

.RedirectAdmin .table-striped tbody tr.yellow td {
	background-color: #fdf7e5;
	-moz-transition: background-color 2s linear;
	opacity: 0;
}

.RedirectAdmin .table-striped tbody tr.yellow.fade-in td {
	background-color: #f9f9f9;;
	opacity: 1;
}

.RedirectAdmin .table-striped tbody tr.white:nth-child(2n+1) td {background-color: #fff!important;}

.RedirectAdmin .icon-users {background-position: 0 -168px;}
.RedirectAdmin .icon-closed {background-position: -24px -168px;}
.RedirectAdmin .icon-opened {background-position: -48px -168px;}
.RedirectAdmin .icon-hierarchy {background-position: -72px -168px;}
.RedirectAdmin .icon-order {background-position: -96px -168px;}
.RedirectAdmin .icon-dropdown {background-position: -120px -168px;}
.RedirectAdmin .icon-forum {background-position: -144px -168px;}
.RedirectAdmin .icon-twitter {background-position: -168px -168px;}
.RedirectAdmin .icon-IRC {background-position: -192px -168px;}
.RedirectAdmin .icon-blog {background-position: -216px -168px;}


/* Main container */

.pbr-body .RedirectAdmin .container-fluid {padding: 0;}


/* Aside */

.container-fluid .row-fluid .span3 {
	max-width: 220px;
	width: 220px;
}

.RedirectAdmin .menu_form {
    margin-left: 20px;
    width: 200px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.RedirectAdmin #local-nav {margin-top: 35px;}

.RedirectAdmin #local-nav .nav-list {padding: 0 0 2px 0;}

.RedirectAdmin .nav-list > li {margin-bottom: 20px;}

.RedirectAdmin .nav-list li div {margin-bottom: 5px;}

.RedirectAdmin .nav-list li div span.toggle {
	font-size: 18px;
	font-family: 'Ubuntu';
	color: #95999e;
	text-shadow: 0px 1px 0px white;
	background-position: left -100px;
}

.RedirectAdmin .nav-list li:hover div span.toggle {background-position: left -22px;} /* Arrow appear */

.RedirectAdmin .nav-list li:hover div span.toggle.closed {background-image: url("../img/icon-arrow-closed.png");}

.RedirectAdmin .nav-list ul {margin-left: 0;}

.RedirectAdmin .nav-list li {list-style: none;}

.RedirectAdmin .nav-list a {
	color: #444;
	font-size: 14px;
}

.RedirectAdmin .nav-list li:hover a {
    text-decoration: none;
    color: #444;
}

.RedirectAdmin .nav-list li li:hover,
.RedirectAdmin .nav-list li li.open {
	background-color: rgba(0,0,0,0.04);
	border-radius: 5px 0 0 5px;
}

.RedirectAdmin .nav-list > li > ul > li.active:hover,
.RedirectAdmin .nav-list > li > ul > li.active.open {background: none;}

.RedirectAdmin .nav-list a i {margin-top: 2px;}

.RedirectAdmin .nav-list > li > ul > li > a {
	line-height: 34px;
    padding: 0 15px;
    margin: 0;
    display: block;
}

.RedirectAdmin .nav-list > li > ul > .active > a, 
.RedirectAdmin .nav-list > li > ul > .active > a:hover {
	background-color: #005490;
	text-shadow: 0px 1px 0px #000;
	color: #fff;
	border-radius: 5px 0 0 5px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.RedirectAdmin .nav-list .active > a {font-weight: bold;}

.RedirectAdmin .nav-list li a i {background-image: url("../img/rcue-icons-gray.png");}

.RedirectAdmin .nav-list .active > a i {background-image: url("../img/rcue-icons-white.png");}

.RedirectAdmin .nav-list li.active > ul.subitems li a {
	display: block;
	line-height: 16px;
	margin-left: 0;
	margin-right: 0;
	padding: 7px 15px 8px 45px; /* orientation=lt */
	padding: 7px 45px 8px 15px; /* orientation=rt */
}

.RedirectAdmin .nav-list .active > ul > .active > a {
	color: #005490;
	text-shadow: 0px 1px 0px #fff;
}

.RedirectAdmin .nav-list > li > ul > li {
    position: relative;
    margin-bottom: 2px;
}

.RedirectAdmin .nav-list > li li > span {
    position: absolute;
    top: 5px;
    right: 10px; /* orientation=lt */
    left: 10px; /* orientation=rt */
    visibility: hidden; /* Put visibility:visible in the admin-responsive */
    cursor: pointer;
}

.RedirectAdmin .nav-list > li li:hover > span,
.RedirectAdmin .nav-list > li li.open > span {visibility: visible;}

.RedirectAdmin .nav-list > li li.active > span i,
.RedirectAdmin .nav-list > li li.active.open > span i {background-image: url("../img/rcue-icons-white.png");}

.RedirectAdmin .nav-list > li li.open > span i {background-image: url("../img/rcue-icons.png");}

.RedirectAdmin .nav-list > li li:not(.active) > span i:hover {background-image: url("../img/rcue-icons.png");}

.RedirectAdmin .nav-list .dropdown-menu {
	top: 26px;
	right: 2px; /* orientation=lt */
	left: 2px; /* orientation=rt */
	left: auto; /* orientation=lt */
	right: auto; /* orientation=rt */
	z-index: 1000;
}

.RedirectAdmin .nav-list .dropdown-menu:after {
	border-bottom: 6px solid #FFFFFF;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	content: "";
	display: inline-block;
	left: auto; /* orientation=lt */
	right: auto; /* orientation=rt */
	right: 10px; /* orientation=lt */
	left: 10px; /* orientation=rt */
	position: absolute;
	top: -6px;
}

.RedirectAdmin .nav-list .more {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	font-size: 12px;
	color: #999;
	margin-right: 15px;
	visibility: hidden;
	cursor: pointer;
}

.RedirectAdmin .nav-list > li:hover .more {visibility: visible;}

.RedirectAdmin li#server {margin-bottom: 20px;}

/* Content */

.RedirectAdmin #container-right {
    margin-top: 0;
	margin-left: 0;
	margin-right: 0;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 30px;
	padding-bottom: 0;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
	min-width: 706px;
	background-color: #fff;
	min-height: 540px;
	font-size: 14px;
}

.RedirectAdmin .MiddleDecoratorCenter #container-right {
    width: 706px;
}

.RedirectAdmin .initial {
	margin-left: 87px;
	width: 520px;
}

.RedirectAdmin h2.initial {
	margin-top: 15px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 22px;
	margin-bottom: 15px;
}

.RedirectAdmin p.initial {
	color: #999;
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 40px;
}

.RedirectAdmin #container-right h1,
.RedirectAdmin #container-right legend {font-family: 'Ubuntu';}

.RedirectAdmin #container-right h1 {
	margin-bottom: 10px;
	margin-top: -7px;
	margin-left: 0;
  	font-size: 26px;
	font-weight: normal;	
}

.RedirectAdmin #container-right .btn-small {
    color: #333;
}

.RedirectAdmin #edit_redirect-table {
    margin-top: -25px;
}


/* Table styles */

.RedirectAdmin table .dropdown-menu {min-width: 120px;}

.RedirectAdmin table .dropdown-menu a {
	font-size: 12px;
	text-align: left;
}

.RedirectAdmin label {display: inline-block;}

.RedirectAdmin #container-right th,
.RedirectAdmin #container-right td {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    vertical-align: middle;
}

.RedirectAdmin .table.table-striped th, 
.RedirectAdmin .table.table-striped td {border: none;}

.RedirectAdmin th.actions,
.RedirectAdmin td.actions {
	width: 100px;
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
}

.RedirectAdmin td.actions > a,
.RedirectAdmin td.actions > button,
.RedirectAdmin td.actions > div {visibility: hidden;} /* Visibility visible were put in admin-responsive.css */

.RedirectAdmin tr:hover > td.actions > a,
.RedirectAdmin tr:hover > td.actions > button,
.RedirectAdmin tr:hover > td.actions > div {visibility: visible;}

.RedirectAdmin td.actions button {display: inline-block;}

.RedirectAdmin td.actions a+a,
.RedirectAdmin td.actions button+a,
.RedirectAdmin td.actions a+button,
.RedirectAdmin td.actions a+div,
.RedirectAdmin td.actions div+a,
.RedirectAdmin .add-user-agent-string.tooltipTrigger {
	margin-left: 6px; /* orientation=lt */
	margin-right: 6px; /* orientation=rt */
	display: inline-block;
	line-height: 14px;
}

.RedirectAdmin .table span.second-info {
	display: block;
	font-size: 12px;
	color: #999;	
}

.RedirectAdmin td input,
.RedirectAdmin td textarea,
.RedirectAdmin td select {margin-bottom: 0;}

.RedirectAdmin .table-striped tbody tr:nth-child(2n+1) td, 
.RedirectAdmin .table-striped tbody tr:nth-child(2n+1) th {background-color: #F9F9F9;}

.RedirectAdmin .table tbody tr:hover td {background-color: #f2f2f2;}


/* Form styles */

.RedirectAdmin #container-right form {
    margin-bottom: 0;
    clear: both;
}

.RedirectAdmin #container-right fieldset {
    margin-bottom: 25px;
}

.RedirectAdmin #container-right legend {
    font-family: "Ubuntu";
    border: none;
    margin-bottom: 0;
}

.RedirectAdmin label.checkbox {
    display: inline-block;
}

.RedirectAdmin #conditions-table {
    border-collapse: separate;
    margin-left: 25px; /* orientation=lt */
    margin-right: 25px; /* orientation=rt */
    border-color: transparent;
    border-style: solid;
    border-right-width: 25px; /* orientation=lt */
    border-left-width: 25px; /* orientation=rt */
    width: 100%;
}

.RedirectAdmin .MiddleDecoratorCenter #conditions-table {width: 631px;}

.RedirectAdmin #container-right .icon-info-sign {
	margin-top: 3px;
	margin-left: 5px;
}

.RedirectAdmin #node-mappings .btn-small.right {
    float: right;
}

.RedirectAdmin #node-mappings label.checkbox {
	width: 165px;
	vertical-align: top;
}

.RedirectAdmin #container-right .form-actions {
    padding-right: 0; /* orientation=lt */
    padding-left: 0; /* orientation=rt */
    background-color: transparent;
    border-top: none;
    padding-top: 4px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 40px;
}

.RedirectAdmin .form-actions button+button {
    margin-left: 10px; /* orientation=lt */
    margin-right: 10px; /* orientation=rt */
}

.RedirectAdmin #container-right .btn-primary {
    background: #005490;
}

.RedirectAdmin #container-right .btn-primary:hover {
    background-color: #014F87;
}

.RedirectAdmin p.subtitle {
	text-align: right;
	margin-bottom: 5px;
	color: #999;
	font-size: 14px;
}

.RedirectAdmin span.required {color: red;}

.RedirectAdmin legend {
	border: none;
	margin-bottom: 0;
	display: inline-block;
	width: auto;
	font-size: 21px;
	color: #333333;
}

.RedirectAdmin #node-mappings legend {
    margin-top: 12px;
    margin-bottom: 12px;
}

.RedirectAdmin legend i {
	margin-top: 3px;
	margin-right: 3px;
}

.RedirectAdmin legend + div {margin-top: 18px;}

.RedirectAdmin fieldset {margin-bottom: 20px;}

.RedirectAdmin .radio.inline + .radio.inline, 
.RedirectAdmin .checkbox.inline + .checkbox.inline {margin-left: 0;}

.RedirectAdmin .radio.inline,
.RedirectAdmin .checkbox.inline {margin-right: 10px;}

.RedirectAdmin a.inline {
	display: inline-block;
	margin-bottom: -5px;
}

.RedirectAdmin .control-group table {margin-bottom: 0;}

.RedirectAdmin td.styles-hidden,
.RedirectAdmin .table-striped tbody tr td.styles-hidden {
	border-top: none;
	background-color: #fff;
}

.RedirectAdmin .form-actions {
	padding: 10px 0 0 0;
	background: transparent;
	border-top: none;
	margin: 0;
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	border-top: none;
}

.RedirectAdmin .form-actions .btn-primary {
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */

}


/* Page Site Redirects */

.RedirectAdmin .table-striped th {font-size: 14px;}

.RedirectAdmin .form-horizontal .onoffswitch-checkbox {display: none;}

.RedirectAdmin .table-striped tbody tr.form-site-redirect > td {
	background: #fff;
	border-top: 1px solid #fff;
	padding: 0;
}

.RedirectAdmin .form-site-redirect form {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-bottom: 40px;
}

.RedirectAdmin .header-site-redirect {
	background-color: #f6f6f6;
	padding: 15px 10px;
	border-top: 1px solid #ccc;
}

.RedirectAdmin .header-site-redirect legend + div {margin-top: 3px;}

.RedirectAdmin .header-site-redirect > div {
	margin: 0;
	float: left;
}

.RedirectAdmin .form-site-redirect .header-site-redirect .control-group,
.RedirectAdmin .form-site-redirect .header-site-redirect .control-group:last-child {
	width: 271px;
	margin-left: 20px;
	margin-bottom: 0;
}

.RedirectAdmin .header-site-redirect .control-label {width: auto;}

.RedirectAdmin .header-site-redirect .control-group label {
	font-weight: bold;
	width: auto;
	display: inline-block;
	margin-right: 10px; /* orientation=lt */
	margin-left: 10px; /* orientation=rt */
}

.RedirectAdmin .header-site-redirect input,
.RedirectAdmin .header-site-redirect select {width: 145px;}

.RedirectAdmin option[disabled="disabled"] {color: #aaa;}

.RedirectAdmin a.inside-table,
.RedirectAdmin button.inside-table {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.RedirectAdmin table thead th {vertical-align: middle;}

.RedirectAdmin table thead tr th:first-child {min-width: 115px;}

.RedirectAdmin table .table-striped br + strong {
	display: inline-block;
	margin-top: 5px;
}

.RedirectAdmin table .table-striped em {
	color: #777;
	font-weight: bold;
	font-style: normal;
}

.RedirectAdmin table .table-striped span {
	font-style: normal;
	color: #999;
	font-size: 11.5px;
}

.RedirectAdmin .rdr-cond-name, .RedirectAdmin .rdr-cond-settings {word-break: break-all;}

.RedirectAdmin .table-striped tbody .table-striped tr:nth-child(2n+1) th,
.RedirectAdmin .table-striped tbody .table-striped tr:nth-child(2n) td {background-color: #fff;}

.RedirectAdmin .table-striped tbody .table-striped tbody tr td {
	line-height: 18px;
    padding: 8px;
}
/* ammendoca: for some reason, padding is already added, this 20px makes it way out.
.table-striped tbody .table-striped tbody tr td.actions {padding-right: 20px;}
*/
.RedirectAdmin .table-striped tbody .table-striped tbody tr td.actions {
    padding-right: 9px; /* orientation=lt */
    padding-left: 9px; /* orientation=rt */
}

.RedirectAdmin .table-striped tbody .table-striped tbody tr:nth-child(2n+1) td {background-color: #F9F9F9;}

.RedirectAdmin .table-striped tbody .table-striped tbody tr:hover td {background-color: #f2f2f2;}

.RedirectAdmin table.action-small th {padding-top: 6px;}

.RedirectAdmin .form-site-redirect td.actions,
.RedirectAdmin .form-site-redirect th.actions {width: 50px;}

.RedirectAdmin .form-site-redirect .control-group {margin-bottom: 14px;}

.RedirectAdmin .form-site-redirect .control-group:last-child {margin-bottom: 10px;}


.RedirectAdmin tbody.sortable tr:hover {
	cursor: move;
	cursor: -moz-grab;
}

.RedirectAdmin .table-striped tbody.sortable tr td:nth-child(1) {padding-left: 12px;}

.RedirectAdmin tbody.sortable tr:hover td:nth-child(1) {
	background-repeat: no-repeat;
	background-position: 5px center;
	background-image: url("../img/icon-grippy.png");
}

/*tbody.sortable tr td:nth-child(1) {width: 110px;}
tbody.sortable tr td:nth-child(2) {width: 290px;}
tbody.sortable tr td:nth-child(3) {width: 50px;}*/ /* ammendonca: was 110px */


/* ON OFF Switch */

.RedirectAdmin .onoffswitch {
	position: relative; 
	width: 52px;
	height: 22px;
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select: none;
}

.RedirectAdmin .onoffswitch-checkbox {display: none;}

.RedirectAdmin .onoffswitch-label {
	display: block; 
	overflow: hidden; 
	cursor: pointer;
	border: 1px solid #b9b9b9; 
	border-radius: 12px;
}

.RedirectAdmin .onoffswitch-inner {
	display: block;
	width: 200%;
	margin-left: -100%; /* orientation=lt */
	margin-right: -100%; /* orientation=rt */
	-moz-transition: margin 0.3s ease-in 0s; 
	-webkit-transition: margin 0.3s ease-in 0s;
	-o-transition: margin 0.3s ease-in 0s; 
	transition: margin 0.3s ease-in 0s;
}

.RedirectAdmin .onoffswitch-inner > span {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 50%; 
	height: 20px; 
	padding: 0; 
	line-height: 20px;
	font-size: 10px; 
	color: white; 
	font-weight: bold;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.RedirectAdmin .onoffswitch-inner .onoffswitch-active {
	padding-left: 6px; /* orientation=lt */
	padding-right: 6px; /* orientation=rt */
	text-align: right; /* orientation=rt */
	background-color: #0097e3;
	background: -moz-linear-gradient(#00a3f4, #008acf);
	background: -webkit-linear-gradient(#00a3f4, #008acf);
	background: -o-linear-gradient(#00a3f4, #008acf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00a3f4', endColorstr='#008acf');
	color: #FFFFFF;
	text-shadow: 0px 1px 0px rgba(0,0,0,0.2);
}

.RedirectAdmin .onoffswitch-inner .onoffswitch-inactive {
	padding-right: 6px; /* orientation=lt */
	padding-left: 6px; /* orientation=rt */
	background-color: #F2F2F2;
	background: -moz-linear-gradient(#fefefe, #e8e8e8);
	background: -webkit-linear-gradient(#fefefe, #e8e8e8);
	background: -o-linear-gradient(#fefefe, #e8e8e8);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#e8e8e8');
	color: #999999;
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
}

.RedirectAdmin .onoffswitch-switch {
	width: 20px; 
	margin: 0px;
	background-color: #f7f7f7;
	background: -moz-linear-gradient(#fbfbfb, #eaeaea);
	background: -webkit-linear-gradient(#fbfbfb, #eaeaea);
	background: -o-linear-gradient(#fbfbfb, #eaeaea);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#eaeaea');
	border: 1px solid #848484; 
	border-radius: 12px;
	position: absolute; 
	top: 0; 
	bottom: 0;
	right: 30px; /* orientation=lt */
	left: 30px; /* orientation=rt */
	-moz-transition: all 0.3s ease-in 0s; 
	-webkit-transition: all 0.3s ease-in 0s;
	-o-transition: all 0.3s ease-in 0s; 
	transition: all 0.3s ease-in 0s;
}

.RedirectAdmin .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
	margin-left: 0; /* orientation=lt */
	margin-right: 0; /* orientation=rt */
}

.RedirectAdmin .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
	right: 0; /* orientation=lt */
	left: 0; /* orientation=rt */
}


/* Footer */

.RedirectAdmin footer {
	height: 38px;
    position: relative;
	clear:both;
	margin: -38px auto 0 auto;
	width: 940px;
}

.RedirectAdmin footer p {
	font-size: 12px;
	color: #a7a7a7;
	float: left;
	margin-bottom: 0;
	margin-left: 245px;
}

.RedirectAdmin footer a {color: #666;}

.RedirectAdmin footer > ul {
	float: right;
	margin-left: 0;
	margin-bottom: 0;
	margin-right: 25px;
}

.RedirectAdmin footer > ul > li {
	display: inline-block;
	padding-left: 9px;
	margin-left: 4px;
	background: url("../img/bullet-separator.png") no-repeat left center;
}

.RedirectAdmin footer > ul > li:first-child {background: none;}

.RedirectAdmin footer ul li a {font-size: 12px;}


/* Alerts */

.RedirectAdmin .alert-container {
	position: fixed;
	top: 25px;
	text-align: center;
	left: 0;
	width: 100%;
	z-index: 1040;
}

.RedirectAdmin #container-right .alert {
	padding: 3px 15px;
	padding-bottom: 3px;
	display: inline-block;
	font-size: 14px;
	position: relative;
	top: 3px;
	cursor: default;
}


/* Modal */

.RedirectAdmin .modal h3 {
    font-weight: normal;
    font-family: Ubuntu;
}

.RedirectAdmin .modal-header .close {margin-top: 7px;}

.RedirectAdmin #modal-condition .btn-mini {color: #333;}

.RedirectAdmin #condition-string td {padding-bottom: 0;}

.RedirectAdmin #condition-string td > div.last {margin-bottom: 0;}

.RedirectAdmin .modal.confirmation p span {
	display: block;
	font-size: 12px;
	margin-top: 10px;
}

.RedirectAdmin .modal .control-group label {
	float: left; /* orientation=lt */
	float: right; /* orientation=rt */
	width: 120px;
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
	margin-right: 10px; /* orientation=lt */
	margin-left: 10px; /* orientation=rt */
	padding-top: 4px;
}

.RedirectAdmin .modal table {margin-top: 25px;}

.RedirectAdmin .modal table:first-child {margin-top: 20px;}

.RedirectAdmin table.button-mini th {padding-top: 1px;}

.RedirectAdmin .modal th.actions, 
.RedirectAdmin .modal td.actions {width: 60px;}

.RedirectAdmin span.td-condition {
	display: inline-block;
	color: #999;
	font-size: 11px;
	padding-right: 5px; /* orientation=lt */
	padding-left: 5px; /* orientation=rt */
	width: 22px;
	text-align: right; /* orientation=lt */
	text-align: left; /* orientation=rt */
}

.RedirectAdmin #condition-string label {
	text-align: left; /* orientation=lt */
	text-align: right; /* orientation=rt */
	width: 110px;
}

.RedirectAdmin #condition-string td > div {
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin-bottom: 8px;
	width: 390px;
}

.RedirectAdmin #condition-string div.condition {width: 363px;}

.RedirectAdmin #condition-string td > div:last-child {margin-bottom: 0;}

.RedirectAdmin #condition-string input {width: 280px;}

.RedirectAdmin #condition-string div div.action {
	visibility: hidden;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
	margin-right: 10px; /* orientation=lt */
	margin-left: 10px; /* orientation=rt */
	margin-top: 5px;
}

.RedirectAdmin #condition-string div:hover div a,
.RedirectAdmin #condition-string div:hover div button {
	visibility: visible;
}

.RedirectAdmin #condition-string button+button,
.RedirectAdmin #condition-string a+a,
.RedirectAdmin #condition-string button+a {margin-left: 5px;}

.RedirectAdmin #condition-properties td.condition {width: 175px;}

.RedirectAdmin #condition-properties input,
.RedirectAdmin #condition-properties select,
.RedirectAdmin #condition-properties div {
    margin-right: 5px; /* orientation=lt */
    margin-left: 5px; /* orientation=rt */
    margin-bottom: 0;
}

.RedirectAdmin #condition-properties div+div {
	margin-right: 0; /* orientation=lt */
	margin-left: 0; /* orientation=rt */
	margin-left: 5px; /* orientation=lt */
	margin-right: 5px; /* orientation=rt */
}

.RedirectAdmin #condition-properties input.property {width: 100px;}

.RedirectAdmin #condition-properties td.condition input.property {
	margin-left: 31px; /* orientation=lt */
	margin-right: 31px; /* orientation=rt */
}

.RedirectAdmin #condition-properties div input {
	width: 40px;
	margin-right: 0; /* orientation=lt */
	margin-left: 0; /* orientation=rt */
}

.RedirectAdmin #condition-properties th.actions,
.RedirectAdmin #condition-properties td.actions {width: 0;}
   
.RedirectAdmin .input-append-inline {
	display: inline-block;
	position: relative;	
}

.RedirectAdmin .input-append-inline span {
	position: absolute;
	right: 4px; /* orientation=lt */
	left: 4px; /* orientation=rt */
	bottom: 5px;
}

.RedirectAdmin .input-append-inline input {
	text-align: left; /* orientation=lt */ /* ammendonca: was right.. */
	text-align: right; /* orientation=rt */
	padding-right: 8px; /* orientation=lt */
	padding-left: 8px; /* orientation=rt */
}

.RedirectAdmin select.attribute {
	width: 117px;
	vertical-align: top;
}


/* Modal Select Node */

.RedirectAdmin .window-list {
	border: 1px solid #ccc;
	border-left-color: #fff;
	border-right-color: #fff;
	max-height: 400px;
	overflow-y: scroll;
}

.RedirectAdmin .window-list ul {margin: 0;}

.RedirectAdmin .window-list li {
	line-height: 1.3em;
	border-radius: 3px;
	list-style: none;
}

.RedirectAdmin .window-list ul li:nth-child(2n+1) {background-color: #f2f2f2;}

.RedirectAdmin .window-list li label {
	display: block;
	padding: 0 10px;
	line-height: 24px;
	position: relative;
	margin: 0;
	border-radius: 3px;
}

.RedirectAdmin .window-list li label:hover {
	background-color: #ebf0f5;
	cursor: pointer;
}

.RedirectAdmin .window-list label.active,
.RedirectAdmin .window-list label.active:hover {
	background-color: #0088cc;
	color: #fff;
}

.RedirectAdmin .window-list label span {
	color: #999;
	display: inline-block;
	width: 60%;
	float: right; /* orientation=lt */
	float: left; /* orientation=rt */
}

.RedirectAdmin .window-list label input {display: none;}

.RedirectAdmin .window-list label.active span {color: #fff;}



/* Modal Import Site */

.RedirectAdmin .modal .attachment {
    border: 1px solid #ccc;
    background-color: #eee;
    padding: 3px 10px;
    display: inline-block;
    border-radius: 3px;
    line-height: 25px;
}

.RedirectAdmin .modal .attachment span {font-weight: bold;}

.RedirectAdmin .modal .attachment button {
    margin-left: 20px;
    opacity: .3;
}

.RedirectAdmin .modal .attachment button:hover {opacity: 1;}

.RedirectAdmin .node-mapping-viewer {
	height: 34px;
}

.RedirectAdmin .node-mapping-viewer > td {
    word-break: break-all;
}

/* Footer */

.RedirectAdmin #gtnRedirect {
    padding-top: 12px;
}

.RedirectAdmin #gtnRedirect a {
    color: #000;
}

.RedirectAdmin .UIFooterPortlet .CopyrightInfo {
    line-height: 23px;
}

/* Fixes */

.RedirectAdmin select, .RedirectAdmin textarea, .RedirectAdmin input[type="text"],
.RedirectAdmin input[type="password"], .RedirectAdmin input[type="datetime"],
.RedirectAdmin input[type="datetime-local"], .RedirectAdmin input[type="date"],
.RedirectAdmin input[type="month"], .RedirectAdmin input[type="time"],
.RedirectAdmin input[type="week"], .RedirectAdmin input[type="number"],
.RedirectAdmin input[type="email"], .RedirectAdmin input[type="url"],
.RedirectAdmin input[type="search"], .RedirectAdmin input[type="tel"],
.RedirectAdmin input[type="color"], .RedirectAdmin .uneditable-input {
	border-radius: 3px 3px 3px 3px;
	color: #555555;
	display: inline-block;
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	margin-bottom: 9px;
	padding: 4px 6px;
}

.RedirectAdmin #container-right {
    width: 76.2%;
    *width: 76%;
}

.RedirectAdmin > div > .container-left.span3 {
    width: 220px;
    *width: 220px;
}

.RedirectAdmin #modal-delete-redirect strong,
.RedirectAdmin #modal-delete-redirect span {
    color: #333333;
    font-size: 14px;
    line-height: 20px;
}

.RedirectAdmin #modal-delete-redirect .modal-body > p > span {
    margin-top: 10px;
    font-size: 12px;
    display: block;
}

.RedirectAdmin .error-sibling ~ .input-medium {
    color: #953b39 !important;
    border-color: #953b39 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) !important;
}

.RedirectAdmin .error-sibling + label {
    color: #AA0000;
}

.RedirectAdmin .error-sibling ~ .input-medium:focus {
    color: #953b39 !important;
    border-color: #953b39 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392 !important;
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392 !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 6px #d59392 !important;
}
